@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-appstate-bar';

:host {
  --heading-text-color: @app-state-bar-heading-text-color;
  --heading-background-color: @app-state-bar-heading-background-color;
  --text-color: @app-state-bar-text-color;
  --background-color: @app-state-bar-background-color;
  --border-color: @app-state-bar-border-color;

  &[state="info"] {
    --heading-text-color: @app-state-bar-info-heading-text-color;
    --heading-background-color: @app-state-bar-info-heading-background-color;
  }

  &[state="highlight"] {
    --heading-text-color: @app-state-bar-highlight-heading-text-color;
    --heading-background-color: @app-state-bar-highlight-heading-background-color;
  }

  // Make height relative to header-height
  height: round((@header-height * 0.9));

  [part='heading'] {
    padding: 0 10px;
  }

  [part='close'] {
    width: 15px;
    height: 15px;
    stroke-width: 0.12em;
  }
}
