@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-button-bar';

:host {
  background: none;
  ::slotted(ef-button:not(:first-child)),
  ::slotted(ef-button-bar:not(:first-child)) {
    margin-left: -@button-border-width;
  }
  ::slotted(ef-button) {
    box-shadow: none;
  }
}
