@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-button';
@import '@refinitiv-ui/elemental-theme/src/responsive';
@import '../shared-styles/button';

:host {
  .button-defaults();
  &[disabled] {
    border-color: @button-border-color;
  }
  &:not([cta])[empty][icon][transparent] {
    color: @button-text-color;

    &[disabled] {
      color: @button-text-color;
    }

    &:hover {
      .desktop-specific({
        color: @button-hover-text-color;
      });
    }
  }

  // WORKAROUND: Override styles from hover state that have the wrong orders.
  &:not([readonly]):active {
    background-color: @button-pressed-background-color;
    color: @button-pressed-text-color;
    box-shadow: @button-pressed-box-shadow;
  }
  &[cta] {
    &:not([readonly]):active {
      background-color: @button-cta-background-color;
      color: @button-cta-text-color;
    }
  }
  &[toggles] {
    &:not([readonly]):active {
      background-color: @button-toggle-background-color;
      color: @button-toggle-text-color;
    }
  }
  &[toggles][active] {
    &:not([readonly]):active {
      background-color: @button-toggle-active-background-color;
      color: @button-toggle-active-text-color;
    }
  }
}
