@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-combo-box';
@import (reference) '../native-elements/button';

:host {
  --panel-background-color: @combo-box-popup-background-color;

  [part~=button-toggle] {
    &:extend(button all);
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin-right: 1px;
  }

  [part~=button] {
    height: calc(100% - 2px);
    width: 19px;
  }

  [part=selection-badge] {
    @size: unit((@button-font-size + 4), px);
    height: @size;
    min-width: @size;
    margin-top: 0;
  }
}
