@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-color-dialog';

:host {
  width: 300px;

  [part=content-section] {
    padding: 5px 0;
  }

  [part=color-input],
  [part=preview-color] {
    width: 60px;
    margin: 0 0 0 5px;
  }

  [part=preview-color] {
    height: 30px;
    margin-bottom: 15px;
  }

  [part=grayscale-palettes] {
    height: 18px;
    width: 140px;
    margin: 5px 0 0 23px;
  }

  [part=button] {
    margin: 10px 10px 10px 3px;
    &:first-child {
      margin-right: 3px;
    }
  }
}
