@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-clock';

:host {
  // override analog clock color to use white/dark instead of using complementary color
  &[analogue] {
    [part=hands]::after {
      border-color: @color-white;
      & when (@variant = pearl) {
        border-color: @color-black;
      }
    }

    [part~="minute"]::after,
    [part~="hour"]::after {
      background-color: @color-white;
      & when (@variant = pearl) {
        background-color: @color-black;
      }
    }

    &[size="small"] {
      .small-analog-svg(@color-white);
      & when (@variant = pearl) {
        .small-analog-svg(@color-black);
      }
      [part=hands]::after {
        background-color: @color-white;
        & when (@variant = pearl) {
          background-color: @color-black;
        }
      }
    }
  }
}