@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-header';

:host {
  @split-padding: (extract(@header-padding, 2) / 2);
  position: relative;
  color: @header-level2-text-color;
  background-color: @header-level2-bg-color;
  padding-left: floor(@split-padding);
  [part=spacer] {
    width: ceil(@split-padding);
  }
  [part="label"] {
    font-weight: 600;
    text-transform: uppercase;
  }
  &[level="3"] [part="label"] {
    text-transform: none;
  }
  &[level="1"] {
    color: @header-level1-text-color;
    background-color: @header-level1-bg-color;
    background-image: @header-level1-background-image;
  }
  &[level="3"] {
    color: @header-level3-text-color;
    background-color: @header-level3-bg-color;
  }
}
