@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-notification';

:host {
  --bar-height: 30px;
  --background-color: @notification-info-background-color;
  color: white;

  &[confirm] {
    --background-color: @notification-confirm-background-color;
  }

  &[warning] {
    --background-color: @notification-warning-background-color;
  }

  &[error] {
    --background-color: @notification-error-background-color;
  }

  [part=container] {
    padding-right: 27px;
  }

  [part=content] {
    // Override style of <a> content inside notification
    ::slotted(a) {
      color: inherit !important;
      text-decoration: underline !important;
    }

    ::slotted(a:hover) {
      cursor: pointer !important;
      text-decoration-color: inherit !important;
    }
  }

  [part=clear] {
    right: 0.5em;
    width: 16px;
    height: 16px;
    stroke-width: 1.5px;
    opacity: 1; // always show clear button in solar theme
  }
}
