@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-pagination';
@import '../shared-styles/input';

:host {
  --first-icon: previous;
  --last-icon: next;
  --previous-icon: left;
  --next-icon:  right;

  [part=input] {
    height: @pagination-input-height;
    width: 150px;
    margin: @pagination-input-margin;

    &:focus {
      .input-focus;
    }
  }
}
