@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-panel';

:host {
  &:not([transparent])::after when (@variant = pearl) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
}
