@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-time-picker';
@import '../shared-styles/input';

:host {
  .input-solar(true);
  padding: 0;
  [part=input] {
    width: 25px;
  }

  [part=toggle] {
    font-size: 70%;
    line-height: 1;
  }

  [part=input], [part=toggle] {
    &:focus::after, &[focused]::after {
      content: '';
      border: none;
      left: calc(50% - 7px);
      bottom: -1px;
      width: 14px;
      height: 1px;
      background: @input-focused-border-color;
    }
  }
}
