@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-tree-item';

:host {
  min-height: @tree-item-height;
  background-color: @tree-item-default-background-color;
  border-bottom: @list-item-divider-thickness solid @tree-item-divider-color;
  &[depth="0"] {
    background-color: @tree-item-depth0-background-color;
  }
  &[highlighted] {
    background-color: @tree-item-hover-background-color;
  }
  &[focused=visible] {
    outline: @tree-item-selected-outline;
    outline-offset: -1px;
    border-color: transparent;
  }
  &:last-of-type {
    border-color: transparent;
  }

  [part=label] {
    padding: 4px 6px 4px 0px;
  }

  [part=label-icon] {
    margin: 0px 4px 0px 0px;
  }

  [part=checkbox] {
    margin: 0px 8px 0px 0px;
  }
}
