:root[theme="light"] {
    @variant: light;
    @import (reference) '../../node_modules/@refinitiv-ui/halo-theme/exports/bare.less';
    
    --control-border-color      : @control-border-color;
    --global-background-color   : @global-background-color;
}