@import (reference) '../../variables';

// Primary colours
@scheme-color-primary                     : @cont-color-common-container-brand-base;
@scheme-color-secondary                   : @cont-color-common-container-secondary-base;
@scheme-color-tertiary                    : @cont-color-common-container-tertiary-base;

// States
@scheme-color-info                        : @cont-color-common-container-info-base;
@scheme-color-confirm                     : @cont-color-common-container-positive-base;
@scheme-color-warning                     : @cont-color-common-container-warning-base;
@scheme-color-error                       : @cont-color-common-container-negative-base;

// Globals
@global-text-color                        : @cont-color-common-fg-generic-moderate;
@global-background-color                  : @cont-color-common-container-surface-layer-1;

// Buttons
@button-border-width                      : 1px;
@button-border-radius                     : @comp-button-container-radius-md;
@button-text-color                        : @comp-button-label-color-fg-neutral-enabled;
@button-border-color                      : @comp-button-container-color-border-neutral-enabled;
@button-background-color                  : @comp-button-container-color-bg-neutral-enabled;
@button-hover-background-color            : @comp-button-container-color-bg-neutral-hover;
@button-hover-text-color                  : @comp-button-icon-color-fg-neutral-hover;
@button-hover-border-color                : @comp-button-container-color-border-neutral-hover;
@button-pressed-border-color              : @comp-button-container-color-border-neutral-pressed; // TODO: not used
@button-pressed-text-color                : @comp-button-label-color-fg-neutral-pressed;
@button-pressed-background-color          : @comp-button-container-color-bg-neutral-pressed;
@button-focused-background-color          : @comp-button-container-color-bg-neutral-focus-enabled;
@button-focused-border-color              : @comp-button-container-color-border-neutral-focus-enabled;
@button-focused-text-color                : @comp-button-label-color-fg-neutral-focus-enabled;
@button-focused-box-shadow                : @comp-button-container-elevation-neutral-focus;
