@import (reference) '../../variables';

// Primary colours
@scheme-color-primary                     : @cont-color-common-container-brand-base;
@scheme-color-secondary                   : @cont-color-common-container-secondary-base;
@scheme-color-tertiary                    : @cont-color-common-container-tertiary-base;

// States
@scheme-color-info                        : @cont-color-common-container-info-base;
@scheme-color-confirm                     : @cont-color-common-container-positive-base;
@scheme-color-warning                     : @cont-color-common-container-warning-base;
@scheme-color-error                       : @cont-color-common-container-negative-base;

// Globals
@global-text-size                         : 14px; // TODO: font-size and font-family
@global-text-color                        : @cont-color-common-fg-generic-moderate;
@global-background-color                  : @cont-color-common-container-surface-layer-1;

// Buttons
@button-border-width                      : 1px;
@button-border-radius                     : @comp-button-container-radius-md;
@button-icon-color                        : @comp-button-icon-color-fg-neutral-enabled;
@button-text-color                        : @comp-button-label-color-fg-neutral-enabled;
@button-border-color                      : @comp-button-container-color-border-neutral-enabled;
@button-background-color                  : @comp-button-container-color-bg-neutral-enabled;
@button-box-shadow                        : @comp-button-container-elevation-neutral-enabled;

@button-disabled-text-color               : @comp-button-icon-color-fg-neutral-disabled;
@button-disabled-background-color         : @comp-button-container-color-bg-neutral-disabled;
@button-disabled-border-color             : @comp-button-container-color-border-neutral-disabled;
@button-disabled-box-shadow               : @comp-button-container-elevation-neutral-disabled;

@button-hover-text-color                  : @comp-button-icon-color-fg-neutral-hover;
@button-hover-background-color            : @comp-button-container-color-bg-neutral-hover;
@button-hover-border-color                : @comp-button-container-color-border-neutral-hover;
@button-hover-box-shadow                  : @comp-button-container-elevation-neutral-hover;

@button-pressed-text-color                : @comp-button-label-color-fg-neutral-pressed;
@button-pressed-background-color          : @comp-button-container-color-bg-neutral-pressed;
@button-hover-text-color                  : @comp-button-container-color-border-neutral-pressed;
@button-pressed-box-shadow                : @comp-button-container-elevation-neutral-pressed;

@button-focused-text-color                : @comp-button-icon-color-fg-neutral-focus-enabled;
@button-focused-background-color          : @comp-button-container-color-bg-neutral-focus-enabled;
@button-focused-border-color              : @comp-button-container-color-border-neutral-focus-enabled;
@button-focused-box-shadow                : @comp-button-container-elevation-neutral-focus;

@button-toggle-text-color                 : @comp-toggle-button-label-color-fg-neutral-enabled;
@button-toggle-background-color           : @comp-toggle-button-container-color-bg-neutral-enabled;
@button-toggle-border-color               : @comp-toggle-button-container-color-border-neutral-enabled;
@button-toggle-box-shadow                 : @comp-toggle-button-container-elevation-neutral-enabled;

@button-toggle-active-text-color          : @comp-toggle-button-label-color-fg-neutral-checked-enabled;
@button-toggle-active-background-color    : @comp-toggle-button-container-color-bg-neutral-checked-enabled;
@button-toggle-active-border-color        : @comp-toggle-button-container-color-border-neutral-checked-enabled;
@button-toggle-active-box-shadow          : @comp-toggle-button-container-elevation-neutral-checked-enabled;

// CTA
// TODO: Is CTA = primary ?
@button-cta-text-color                    : @comp-button-label-color-fg-primary-enabled;
@button-cta-background-color              : @comp-button-container-color-bg-primary-enabled;
@button-cta-border-color                  : @comp-button-container-color-border-primary-enabled;
@button-cta-box-shadow                    : @comp-button-container-elevation-primary-enabled;

// List
@list-text-color                          : @global-text-color;
@list-background-color                    : transparent;

// List item
@list-item-focus-text-color               : @list-item-header-text-color;
@list-item-focus-background-color         : @comp-tree-item-container-color-bg-leaf-child-hover; // TODO: No focus token in tree item
@list-item-selected-text-color            : @comp-tree-item-label-color-fg-leaf-child-selected-enabled;
@list-item-selected-background-color      : @comp-tree-item-container-color-bg-leaf-child-selected-enabled;
@list-item-disabled-text-color            : @comp-tree-item-label-color-fg-leaf-child-disabled;
@list-item-header-text-color              : @comp-tree-item-label-color-fg-leaf-child-enabled;
@list-item-header-background-color        : @comp-tree-item-container-color-bg-leaf-child-enabled;
@list-item-header-border                  : @comp-tree-item-container-color-border-leaf-child-enabled;
@list-item-text-highlighted-color         : @list-item-selected-text-color;

// Tree
@tree-item-highlighted-text-color         : @list-item-text-highlighted-color;

// Tree Item
@tree-menu-item-background-color          : @comp-tree-item-container-color-bg-leaf-child-enabled;
@tree-menu-item-group-background-color    : @comp-tree-item-container-color-bg-leaf-parent-enabled;
@tree-menu-item-group-hover-text-color    : @comp-tree-item-label-color-fg-leaf-parent-hover;
@tree-menu-item-group-hover-background-color : @comp-tree-item-container-color-bg-leaf-parent-hover; // TODO: Looks weird, it looks like there's no highlight on parent ?

// Tooltip
@tooltip-text-color                       : @color-lights-out;
@tooltip-background-color                 : @color-paper;
@tooltip-border-color                     : fade(@panel-border-color, 15%);
