@import (reference) '../../variables';

// Primary colours
@scheme-color-primary                     : @cont-color-common-container-brand-base;
@scheme-color-secondary                   : @cont-color-common-container-secondary-base;
@scheme-color-tertiary                    : @cont-color-common-container-tertiary-base;
@scheme-color-complementary               : @cont-color-common-container-neutral-subtle;

// States
@scheme-color-info                        : @cont-color-status-bg-info-base;
@scheme-color-confirm                     : @cont-color-status-bg-positive-base;
@scheme-color-warning                     : @cont-color-status-bg-warning-base;
@scheme-color-error                       : @cont-color-status-bg-negative-base;

// Globals
@global-text-size                         : 14px;
@global-text-line-height                  : 1.5;
@global-text-color                        : @cont-color-common-fg-generic-moderate;
@global-background-color                  : @cont-color-common-container-surface-layer-1;

@global-text-selection-color              : currentColor;
@global-text-selection-background         : #B4D5FE; // Unable to reset to default. Fix to default chrome/safari

@global-text-mark-color                   : @global-text-selection-color;
@global-text-mark-background              : @global-text-selection-background;

// Controls
// TODO: All on layer-1 ?
@control-text-color                      : @cont-color-field-fg-on-layer-1-moderate;
@control-background-color                : @cont-color-field-bg-on-layer-1-base;
@control-border-color                    : @cont-color-field-border-on-layer-1-moderate;

@control-border-radius                   : @cont-radius-control;

@control-error-color                     : @scheme-color-error;
@control-warning-color                   : @scheme-color-warning;

// TODO: Double check
@control-hover-error-color               : lighten(@control-error-color, 20%);
@control-hover-warning-color             : lighten(@control-warning-color, 20%);

// Buttons
@button-border-width                      : @comp-button-container-border-width-md;
@button-border-radius                     : @comp-button-container-radius-md;
@button-icon-color                        : @comp-button-icon-color-fg-neutral-enabled;
@button-text-color                        : @comp-button-label-color-fg-neutral-enabled;
@button-border-color                      : @comp-button-container-color-border-neutral-enabled;
@button-background-color                  : @comp-button-container-color-bg-neutral-enabled;
@button-box-shadow                        : @comp-button-container-elevation-neutral-enabled;

@button-disabled-text-color               : @comp-button-label-color-fg-neutral-disabled;
@button-disabled-background-color         : @comp-button-container-color-bg-neutral-disabled;
@button-disabled-border-color             : @comp-button-container-color-border-neutral-disabled;
@button-disabled-box-shadow               : @comp-button-container-elevation-neutral-disabled;

@button-hover-text-color                  : @comp-button-label-color-fg-neutral-hover;
@button-hover-background-color            : @comp-button-container-color-bg-neutral-hover;
@button-hover-border-color                : @comp-button-container-color-border-neutral-hover;
@button-hover-box-shadow                  : @comp-button-container-elevation-neutral-hover;

@button-pressed-text-color                : @comp-button-label-color-fg-neutral-pressed;
@button-pressed-background-color          : @comp-button-container-color-bg-neutral-pressed;
@button-pressed-border-color              : @comp-button-container-color-border-neutral-pressed;
@button-pressed-box-shadow                : @comp-button-container-elevation-neutral-pressed;

@button-focused-text-color                : @comp-button-label-color-fg-neutral-focus-enabled;
@button-focused-background-color          : @comp-button-container-color-bg-neutral-focus-enabled;
@button-focused-border-color              : @comp-button-container-color-border-neutral-focus-enabled;
@button-focused-box-shadow                : @comp-button-container-elevation-neutral-focus;

@button-toggle-text-color                 : @comp-toggle-button-label-color-fg-neutral-enabled;
@button-toggle-background-color           : @comp-toggle-button-container-color-bg-neutral-enabled;
@button-toggle-border-color               : @comp-toggle-button-container-color-border-neutral-enabled;
@button-toggle-box-shadow                 : @comp-toggle-button-container-elevation-neutral-enabled;

@button-toggle-active-text-color          : @comp-toggle-button-label-color-fg-neutral-checked-enabled;
@button-toggle-active-background-color    : @comp-toggle-button-container-color-bg-neutral-checked-enabled;
@button-toggle-active-border-color        : @comp-toggle-button-container-color-border-neutral-checked-enabled;
@button-toggle-active-box-shadow          : @comp-toggle-button-container-elevation-neutral-checked-enabled;

// CTA
// TODO: Is CTA = primary ?
@button-cta-text-color                    : @comp-button-label-color-fg-primary-enabled;
@button-cta-background-color              : @comp-button-container-color-bg-primary-enabled;
@button-cta-border-color                  : @comp-button-container-color-border-primary-enabled;
@button-cta-box-shadow                    : @comp-button-container-elevation-primary-enabled;

// List
@list-text-color                          : @global-text-color;
@list-background-color                    : @cont-color-common-container-misc-transparent;

// List item
@list-item-focus-text-color               : @list-item-header-text-color;
@list-item-focus-background-color         : @comp-tree-item-container-color-bg-leaf-child-hover; // TODO: No focus token in tree item
@list-item-selected-text-color            : @comp-tree-item-label-color-fg-leaf-child-selected-enabled;
@list-item-selected-background-color      : @comp-tree-item-container-color-bg-leaf-child-selected-enabled;
@list-item-disabled-text-color            : @comp-tree-item-label-color-fg-leaf-child-disabled;
@list-item-header-text-color              : @comp-tree-item-label-color-fg-leaf-child-enabled;
@list-item-header-background-color        : @comp-tree-item-container-color-bg-leaf-child-enabled;
@list-item-header-border                  : @comp-tree-item-container-color-border-leaf-child-enabled;
@list-item-text-highlighted-color         : @list-item-selected-text-color;

// Tree
@tree-item-highlighted-text-color         : @list-item-text-highlighted-color;

// Tree Item
@tree-menu-item-background-color          : @comp-tree-item-container-color-bg-leaf-child-enabled;
@tree-menu-item-group-background-color    : @comp-tree-item-container-color-bg-leaf-parent-enabled;
@tree-menu-item-group-hover-text-color    : @comp-tree-item-label-color-fg-leaf-parent-hover;
@tree-menu-item-group-hover-background-color : @comp-tree-item-container-color-bg-leaf-parent-hover; // TODO: Looks weird, it looks like there's no highlight on parent ?

// Tooltip
@tooltip-text-color                       : @comp-tooltip-message-color-fg-base;
@tooltip-background-color                 : @comp-tooltip-container-color-bg-base;
@tooltip-border-color                     : @comp-tooltip-container-color-border-base;

// Panel
@panel-background-color                   : @cont-color-common-container-surface-layer-4; // TODO: Need to double check (Same as @comp-menu-container-color-bg)

// Overlay
@overlay-background-color                 : @comp-popover-container-color-bg-base;

// Overlay Menu
@overlay-menu-background-color            : @comp-menu-container-color-bg;

// Input
@input-box-shadow                         : @cont-elevation-field-base;

// Separators
@separator-color                          : @comp-divider-line-color-border-on-canvas-moderate;

// Select
@select-background-color                  : @overlay-background-color;

// Checkbox and Radio
@checkbox-checked-color                   : @scheme-color-primary;

// Headers
@header-level1-bg-color                   : @cont-color-common-container-surface-on-layer-1-bold;
@header-level2-bg-color                   : @cont-color-common-container-surface-on-layer-1-moderate;
@header-level3-bg-color                   : @cont-color-common-container-surface-on-layer-1-subtle;
@header-level4-bg-color                   : @cont-color-common-container-surface-on-layer-1-minimal;

// Calendar
@calendar-background-color                        : @header-level3-bg-color;
@calendar-body-background-color                   : @calendar-background-color;
@calendar-header-text-color                       : @calendar-cell-text-color;
@calendar-header-background-color                 : @panel-background-color;
@calendar-header-border-color                     : @scheme-color-tertiary;
@calendar-cell-text-color                         : @global-text-color;
@calendar-cell-hover-text-color                   : @button-hover-text-color;
@calendar-cell-hover-background-color             : @button-hover-background-color;
@calendar-selected-text-color                     : @button-cta-text-color;
@calendar-selected-background-color               : @button-cta-background-color;
@calendar-cell-background-color                   : @global-background-color;
@calendar-cell-today-text-color                   : @button-text-color;
@calendar-cell-today-background-color             : @button-background-color;
@calendar-cell-range-today-text-color             : @button-cta-text-color;
@calendar-cell-press-background-color             : @button-pressed-background-color;

// Search List Item (for auto-suggest)
// TODO: WIP
@search-list-background-color                     : @overlay-background-color;
@search-list-hover-background-color               : @list-item-selected-background-color;
@search-list-hover-color                          : @list-item-selected-text-color;
@search-list-color                                : @global-text-color;
@search-list-description-color                    : @control-text-color;
@search-list-description-hover-color              : @global-text-color;
@search-list-more-search-background-color         : @panel-background-color;
@search-list-more-search-hover-background-color   : @search-list-hover-background-color;
@search-list-more-search-color                    : @global-text-color;


// Dialog
@dialog-content-background-color                  : @comp-dialog-body-container-color-bg-modal-enabled;
@dialog-footer-background-color                   : @comp-dialog-footer-container-color-bg-modal-enabled;
@dialog-border-color                              : @comp-dialog-container-color-border-modal-enabled;

// Toggle
@toggle-switch-background-color                   : @control-text-color;
@toggle-border-color                              : @control-border-color;
@toggle-font-weight                               : @control-font-weight;

// Pill
@pill-background-color                            : @comp-toggle-tag-inner-container-color-bg-enabled;
@pill-border-color                                : @comp-toggle-tag-inner-container-color-border-enabled;
@pill-toggle-active-border-color                  : @comp-toggle-tag-inner-container-color-border-checked-enabled;
@pill-default-close-color                         : @comp-toggle-tag-remove-button-icon-color-fg-checked-enabled;

// Slider
@slider-track-color                               : @separator-color;
// @slider-track-disabled-color                      : @slider-track-color;
@slider-step-color                                : @scheme-color-primary;
@slider-thumb-color                               : @button-background-color;
@slider-marker-background-color                   : @slider-thumb-color;
@slider-marker-text-color                         : @control-text-color;

@slider-track-fill-color                          : @scheme-color-primary;
@slider-thumb-hover-color                         : @button-hover-background-color;
@slider-thumb-active-color                        : @global-background-color; // @button-pressed-background-color is transparent;
@slider-thumb-border-color                        : @button-border-color;
@slider-thumb-hover-border-color                  : @button-hover-border-color;
@slider-thumb-active-border-color                 : @button-pressed-border-color;


// Table/Grid
// TODO: Need to review
@grid-border-color                       : @separator-color;
@grid-header-text-color                  : @header-text-color;
@grid-header-background-color            : @header-background-color;
@grid-header-border-color                : @grid-header-background-color;
@grid-row-text-color                     : @global-text-color;
@grid-row-background-color               : @global-background-color;
@grid-row-hover-text-color               : @grid-row-text-color;
@grid-row-hover-background-color         : fade(mix(@scheme-color-primary, @grid-row-background-color, 15%), 50%);
@grid-row-active-text-color              : @grid-row-text-color;
@grid-row-active-background-color        : @grid-row-hover-background-color;
@grid-row-active-border-width            : @grid-border-width;
@grid-row-active-border-color            : @scheme-color-primary;
@grid-row-focus-border-color             : @scheme-color-primary;
@grid-row-focus-border                   : @grid-row-focus-border-width dotted @grid-row-focus-border-color;

// Tabs
@tab-background-color                    : @header-level3-bg-color;
@tab-text-color                          : @button-text-color;
@tab-border-color                        : @global-background-color;
@tab-outline                             : @control-outline;
@tab-box-shadow                          : @global-box-shadow;
@tab-hover-text-color                    : @button-hover-text-color;
@tab-hover-background-color              : @button-hover-background-color;
@tab-hover-box-shadow                    : @button-hover-box-shadow;
@tab-disabled-text-color                 : @button-disabled-text-color;
@tab-disabled-background-color           : @button-disabled-background-color;
@tab-active-text-color                   : @button-cta-text-color;
@tab-active-background-color             : @button-cta-background-color;
@tab-active-hover-background-color       : @comp-button-container-color-bg-primary-hover;
@tab-active-focused-background-color     : @comp-button-container-color-bg-primary-hover;
@tab-active-pressed-background-color     : @comp-button-container-color-bg-primary-pressed;
@tab-pressed-text-color                  : @button-pressed-text-color;
@tab-pressed-background-color            : @button-pressed-background-color;
@tab-focused-text-color                  : @button-focused-background-color;
@tab-focused-box-shadow                  : none;
@tab-vertical-border-color               : @control-border-color;

@tab-level2-border-color                 : @tab-border-color;
@tab-level2-bg-color                     : @header-level4-bg-color;
@tab-level2-active-bg-color              : @scheme-color-primary;
@tab-level3-text-color                   : @tab-text-color;
@tab-level3-active-text-color            : @tab-text-color;

// Tab bar
@tab-bar-background-color                : @cont-color-common-container-surface-layer-2;

// Grid
// TODO: Need to review
@grid-text-color                         : @global-text-color;
@grid-header-alt-background-color        : @header-background-color;
@grid-row-alternate-background-color     : darken(@grid-row-background-color, 2%);

// Data viz
@dataviz-color-primary                   : @scheme-color-primary;
@dataviz-color-secondary                 : @scheme-color-secondary;
@dataviz-color-complementary             : @scheme-color-complementary;
@dataviz-color-tertiary                  : @scheme-color-tertiary;

// Loader
@loader-accent-color                  : @scheme-color-primary;
@loader-bar-color                     : @separator-color;
@loader-shape-color                   : @cont-color-control-bg-subtle;

// Data viz - standard
// Keep the mapping as these vars shouldn't be used
// Consider to use contextual tokens directly e.g. @cont-color-action-bg-positive-base
@dataviz-color-red                       : @color-dataviz-red;
@dataviz-color-orange                    : @color-dataviz-orange;
@dataviz-color-yellow                    : @color-dataviz-yellow;
@dataviz-color-green                     : @color-dataviz-green;
@dataviz-color-blue                      : @color-dataviz-blue;
@dataviz-color-cyan                      : @color-dataviz-cyan;
@dataviz-color-purple                    : @color-dataviz-purple;
@dataviz-color-pink                      : @color-dataviz-pink;
@dataviz-color-coral                     : @color-dataviz-coral;
@dataviz-color-grey                      : @color-dataviz-grey;
@dataviz-color-black                     : @color-black;
@dataviz-color-white                     : @color-white;

// Data viz - light
// Keep the mapping as these vars shouldn't be used
// Consider to use contextual tokens directly e.g. @cont-color-action-bg-positive-minimal
@dataviz-color-lightred                  : @color-dataviz-lightred;
@dataviz-color-lightorange               : @color-dataviz-lightorange;
@dataviz-color-lightyellow               : @color-dataviz-lightyellow;
@dataviz-color-lightgreen                : @color-dataviz-lightgreen;
@dataviz-color-lightblue                 : @color-dataviz-lightblue;
@dataviz-color-lightcyan                 : @color-dataviz-lightcyan;
@dataviz-color-lightpurple               : @color-dataviz-lightpurple;
@dataviz-color-lightpink                 : @color-dataviz-lightpink;
@dataviz-color-lightgrey                 : @color-dataviz-lightgrey;
@dataviz-color-lightcoral                : @color-dataviz-lightcoral;

// Data viz - dark
// Keep the mapping as these vars shouldn't be used
// Consider to use contextual tokens directly e.g. @cont-color-action-bg-positive-moderate
@dataviz-color-darkred                   : @color-dataviz-darkred;
@dataviz-color-darkorange                : @color-dataviz-darkorange;
@dataviz-color-darkyellow                : @color-dataviz-darkyellow;
@dataviz-color-darkgreen                 : @color-dataviz-darkgreen;
@dataviz-color-darkblue                  : @color-dataviz-darkblue;
@dataviz-color-darkcyan                  : @color-dataviz-darkcyan;
@dataviz-color-darkpurple                : @color-dataviz-darkpurple;
@dataviz-color-darkpink                  : @color-dataviz-darkpink;
@dataviz-color-darkcoral                 : @color-dataviz-darkcoral;
@dataviz-color-darkgrey                  : @color-dataviz-darkgrey;

// Data viz - standard, numbered
@dataviz-color-1                         : @cont-color-data-viz-categorical-bg-category-1;
@dataviz-color-2                         : @cont-color-data-viz-categorical-bg-category-2;
@dataviz-color-3                         : @cont-color-data-viz-categorical-bg-category-3;
@dataviz-color-4                         : @cont-color-data-viz-categorical-bg-category-4;
@dataviz-color-5                         : @cont-color-data-viz-categorical-bg-category-5;
@dataviz-color-6                         : @cont-color-data-viz-categorical-bg-category-6;
@dataviz-color-7                         : @cont-color-data-viz-categorical-bg-category-7;
@dataviz-color-8                         : @cont-color-data-viz-categorical-bg-category-8;
@dataviz-color-9                         : @cont-color-data-viz-categorical-bg-category-9;
@dataviz-color-10                        : @cont-color-data-viz-categorical-bg-category-10;
@dataviz-color-11                        : @cont-color-data-viz-categorical-bg-category-11;
@dataviz-color-12                        : @cont-color-data-viz-categorical-bg-category-12;
@dataviz-color-13                        : @cont-color-data-viz-categorical-bg-category-13;
@dataviz-color-14                        : @cont-color-data-viz-categorical-bg-category-14;
@dataviz-color-15                        : @cont-color-data-viz-categorical-bg-category-15;
@dataviz-color-16                        : @cont-color-data-viz-categorical-bg-category-16;
@dataviz-color-17                        : @cont-color-data-viz-categorical-bg-category-17;
@dataviz-color-18                        : @cont-color-data-viz-categorical-bg-category-18;
@dataviz-color-19                        : @cont-color-data-viz-categorical-bg-category-19;
@dataviz-color-20                        : @cont-color-data-viz-categorical-bg-category-20;
@dataviz-color-21                        : @cont-color-data-viz-categorical-bg-category-21;
@dataviz-color-22                        : @cont-color-data-viz-categorical-bg-category-22;
@dataviz-color-23                        : @cont-color-data-viz-categorical-bg-category-23;
@dataviz-color-24                        : @cont-color-data-viz-categorical-bg-category-24;
@dataviz-color-25                        : @cont-color-data-viz-categorical-bg-category-6; // workaround as only 24 colors in DS

@dataviz-color-scale-negative            : @cont-color-data-viz-diverging-bg-positive-negative-negative-700;
@dataviz-color-scale-positive            : @cont-color-data-viz-diverging-bg-positive-negative-positive-700;
@dataviz-color-scale-neutral             : @cont-color-status-bg-neutral-base;
@dataviz-color-scale-low-negative        : @cont-color-data-viz-diverging-bg-positive-negative-negative-300;
@dataviz-color-scale-low-positive        : @cont-color-data-viz-diverging-bg-positive-negative-positive-300;
@dataviz-color-scale-range               : @cont-color-data-viz-categorical-bg-category-1;

// Movement colours profile (NEGATIVE)
@negative-color-american                 : @cont-color-status-bg-negative-base;
@negative-color-asian1                   : @cont-color-status-bg-positive-base;
@negative-color-asian2                   : @cont-color-status-bg-negative-base;
@negative-color-european                 : @cont-color-status-bg-negative-base;

// Movement colours profile (NEUTRAL)
@neutral-color-american                  : @cont-color-status-bg-neutral-base;
@neutral-color-asian1                    : @cont-color-status-bg-neutral-base;
@neutral-color-asian2                    : @cont-color-status-bg-positive-base;
@neutral-color-european                  : @cont-color-status-bg-positive-base;

// Movement colours profile (POSITIVE)
@positive-color-american                 : @cont-color-status-bg-positive-base;
@positive-color-asian1                   : @cont-color-status-bg-negative-base;
@positive-color-asian2                   : @color-dataviz-cyan;
@positive-color-european                 : @color-dataviz-cyan;

// Tick colours (NEGATIVE)
@tickdown-color-american                 : @cont-color-status-bg-negative-base;
@tickdown-color-asian1                   : @cont-color-status-bg-positive-base;
@tickdown-color-asian2                   : @cont-color-status-bg-negative-base;
@tickdown-color-european                 : @cont-color-status-bg-negative-base;

// Tick colours (POSITIVE)
@tickup-color-american                   : @cont-color-status-bg-positive-base;
@tickup-color-asian1                     : @cont-color-status-bg-negative-base;
@tickup-color-asian2                     : @cont-color-status-bg-positive-base;
@tickup-color-european                   : @cont-color-status-bg-positive-base;

// Tick text colour
@tick-text-color                         : @cont-color-status-fg-on-positive-base; // very likely that all statuses can use the same color

// Links
@link-hover-text-color                   : @cont-color-common-fg-primary-moderate;
@link-text-color                         : @cont-color-common-fg-primary-bold;
@link-visited-text-color                 : @cont-color-common-fg-tertiary-moderate;

