<div *ngIf="form">
    <div class="form" [formGroup]="form">
      <div class="form-input">
        <label for="name">Name *</label>
        <ef-text-field
        id="name"
        class="form-field"
        formControlName="name"
        [error]="name && name.invalid && (name.dirty || name.touched)"
        ngDefaultControl></ef-text-field>
      </div>
      <div class="form-input">
        <label id="gender_group">Gender</label>
        <div role="radiogroup" aria-labelledby="gender_group" #genderGroup>
          <ef-radio-button name="gender" value="male" >Male</ef-radio-button>
          <ef-radio-button name="gender" value="female" >Female</ef-radio-button>
          <ef-radio-button name="gender" value="not_disclose" >Prefer not to say</ef-radio-button>
        </div>
      </div>
      <div class="form-input">
        <label for="birthdate">Date of Birth</label>
        <ef-datetime-picker class="form-field" id="birthdate" #birthdate formControlName="birthdate" ngDefaultControl></ef-datetime-picker>
      </div>
      <div class="form-input">
        <label for="address">Address</label>
        <textarea class="form-field" id="address" rows="4" cols="50" formControlName="address"></textarea>
      </div>
      <div class="form-input">
        <label for="email">Email *</label>
        <ef-email-field 
        class="form-field"
        id="email"
        placeholder="user@refinitiv.com"
        formControlName="email"
        [error]="email && email.invalid && (email.dirty || email.touched)"
        ngDefaultControl></ef-email-field>
      </div>
      <div class="form-input">
        <label>Job Function</label>
          <div #jobPanel class="job-panel" role="button" (click)="onOpenJobMenu()">
            <div>{{job}}</div>
            <ef-icon icon="arrow-down-fill"></ef-icon>
          </div>
          <ef-overlay-menu #overlayMenu>
            <ef-item for="saletrade">Sales & Trading</ef-item>
            <ef-item for="maandcr">M&A and Capital Raising</ef-item>
            <ef-item for="research">Research / Analysis</ef-item>
            </ef-overlay-menu>
          <ef-overlay-menu id="saletrade">
            <ef-item value="Trader">Trader*</ef-item>
            <ef-item value="Sales">Sales*</ef-item>
            <ef-item value="Broker">Broker*</ef-item>
          </ef-overlay-menu>
          <ef-overlay-menu id="maandcr">
            <ef-item value="ECM / DCM - Origination / Syndication">ECM / DCM - Origination / Syndication*</ef-item>
            <ef-item value="M&A / Coverage Banker Senior">M&A / Coverage Banker Senior</ef-item>
            <ef-item value="M&A / Coverage Banker Junior">M&A / Coverage Banker Junior</ef-item>
            <ef-item value="Private Equity / Venture Capital">Private Equity / Venture Capital</ef-item>
            <ef-item value="Investment Banking Business Manager">Investment Banking Business Manager</ef-item>
          </ef-overlay-menu>
          <ef-overlay-menu id="research">
            <ef-item value="Research / Market Analyst">Research / Market Analyst*</ef-item>
            <ef-item value="Quant">Quant</ef-item>
            <ef-item value="Economist">Economist</ef-item>
            <ef-item value="Investment Strategist">Investment Strategist</ef-item>
          </ef-overlay-menu>
      </div>
      <div className="form-input">
        <ef-checkbox #letter [checked]="mailLetter">I want to receive news and updates via email</ef-checkbox> 
      </div>
    </div>
  </div>