.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
   
    label {
      font-weight: 500;
      margin-bottom: 5px;
    }
}

.job-panel {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    padding: 0 8px;
    height: 24px;
    width: 250px;
}

.job-panel {
  border: 1px solid var(--control-border-color);
  background-color: var(--global-background-color);
}