<div class="container" [ngClass]="{'loading': loading}">
  <ef-header class="toolbar" slot="main-header" level="2">
    <div class="toolbar-items" slot="right">
      Theme:
      <ef-toggle
        #theme
        class='theme-switcher'
        label='light'
        checked-label='dark'
        [checked]="checked"
        (click)="handleThemeToggle()">
      </ef-toggle>
      <ef-button #profile icon="profile" (click)="onOpenProfileDialog()"></ef-button>
    </div>
  </ef-header>
  <div class="content-container">
    <app-side-bar [chartType]="chartType" [onTabClickCallback]="onTabChangeHandler"></app-side-bar>
    <div class="chart-container">
      <ef-loader *ngIf="loading"></ef-loader>
      <ef-interactive-chart #chart></ef-interactive-chart>
    </div>
  </div>

  <ef-dialog #dlg header="Profile">
    <app-profile-form [form]="profileForm"></app-profile-form>
    <div class="form-footer" slot="footer">
      <ef-button id="confirm-btn" cta (click)="onSaveProfile()" [disabled]="profileForm && !profileForm.valid">Confirm</ef-button>
      <ef-button cta (click)="closeDialog()">Cancel</ef-button>
    </div>
  </ef-dialog>
</div>