body, #root, .container {
    height: 100vh;
}

.loading {
    display: none;
}

.toolbar {
    height: 36px;
    padding: 0 15px;
}  

.toolbar-items {
    display: flex;
    align-items: center;
}

.theme-switcher {
    width: 80px;
    margin: 0 10px;
}

.content-container {
    display: flex;
    height: calc(100% - 37px);
}

.chart-container {
    display: flex;
    width: calc(100% - 220px);
    padding: 20px;
}

ef-interactive-chart {
    width: 100%;
    height: 100%;

    &.loading {
        visibility: hidden;
    }
}

.form {
    .row {
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    .form-field {
        width: 100%;
    }
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
  
    ef-button {
      margin-right: 10px;
    }
}