{
  "root": true,
  "extends": ["./node_modules/@refinitiv-ui/configurations/typescript.eslint-config.js"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["**/scripts/**/*.*js"],
      "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 2022
      },
      "rules": {
        "no-console": 0
      }
    }
  ],
  // ignorePatterns works better with files in workspaces compared to
  // .eslintignore resolving path relatively to working dir.
  "ignorePatterns": [
    "**/*.*",
    "!**/*.ts",
    "!**/*.html",
    "!**/*test.js",
    "!**/scripts/**/*.*js",
    "**/*.d.ts",
    "**/node_modules/**" // only node_modules/** is ignored by default
  ]
}
