{
  "root": true,
  "extends": ["./node_modules/@refinitiv-ui/configurations/typescript.eslint-config.js"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  // ignorePatterns works better with files in workspaces compared to
  // .eslintignore resolving path relatively to working dir.
  "ignorePatterns": [
    "**/*.*",
    "!**/*.ts",
    "!**/*.html",
    "!**/*test.js",
    "**/*.d.ts"
  ]
}
