@import '../shared-styles/scrollbar';

html {
  height: 100%;
  touch-action: manipulation; // Improve tap speed on mobile browsers
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  .mozilla-scrollbars();
  @css-properties();
}

::selection {
  color: @global-text-selection-color;
  background: @global-text-selection-background;
}

.webkit-scrollbars();