@import '../shared-styles/input';

textarea {

  .input-defaults;
  .input-standard;

  border: @input-border;
  border-width: max(@input-border-width, 1px);
  resize: none;

  // Get the default height to be the same as input
  line-height: 1.2; // Fix line height for padding calc
  padding: calc((@input-height - max(@input-border-width, 1px) * 2 - 1em * 1.2) / 2) extract(@input-padding, 2);

  // Remove fixed width when sizing by cols
  &[cols] {
    width: auto;
  }

  // Remove fixed height when sizing by rows
  &[rows] {
    height: auto;
  }

  &:focus {
    .input-focus;
  }  
}