<ef-tab-bar vertical alignment="left" level="1">
    <ef-tab icon="chart-chartline" label="Line Chart" [active]="chartType === 'line'? 'true': undefined" (click)="onTabClick('line')"></ef-tab>
    <ef-tab icon="chart-area" label="Area Chart" [active]="chartType === 'area'? 'true': undefined" (click)="onTabClick('area')"></ef-tab>
    <ef-tab icon="chart-bars" label="Bar Chart" [active]="chartType === 'bar'? 'true': undefined" (click)="onTabClick('bar')"></ef-tab>
    <ef-tab icon="chart-candles" label="Candlestick Chart" [active]="chartType === 'candlestick'? true: undefined" (click)="onTabClick('candlestick')"></ef-tab>
    <ef-tab icon="chart-line-bar" label="Volume Chart" [active]="chartType === 'volume'? 'true': undefined" (click)="onTabClick('volume')"></ef-tab>
</ef-tab-bar>