@import '@refinitiv-ui/halo-theme/src/native-elements/mark';

kbd {
  color: @comp-badge-label-color-fg-neutral-bold;
  background: @comp-badge-container-color-bg-neutral-bold;
  border-radius: @comp-badge-container-radius-md;
  box-shadow: none;
}
