html {
  font-family: Arial, Helvetica, sans-serif;
  background: #515c61;
  height: 100%;
  --demo-block-background: var(--color-scheme-ticktext, 'transparent');
}

body {
  visibility: hidden;
  background-color: transparent !important;
}

html body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: 100px; /* Force scrollbar for testing */
}
