body, #root, .container {
  height: 100%;
}

.toolbar {
  height: 36px;
  padding: 0 15px;
}

.toolbar-items {
  display: flex;
  align-items: center;
}

.theme-switcher {
  width: 80px;
  margin: 0 10px;
}

.content-container {
  display: flex;
  height: calc(100% - 37px);
}

.chart-container {
  display: flex;
  width: 100%;
  padding: 20px;
}

ef-interactive-chart {
  width: 100%;
  height: 100%;
}

.form-input {
 display: flex;
 flex-direction: column;
 margin-bottom: 20px;

 label {
   font-weight: 500;
   margin-bottom: 5px;
 }
}

ef-tab {
  min-width: 180px;
}

.job-panel {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  padding: 0 8px;
  height: 24px;
  width: 250px;
}
