// Dark Variables (default)
@import 'overrides'; // Load the overrides first



// Controls
@control-disabled-opacity             : 0.5;
@control-error-color                  : @color-carnation;
@control-warning-color                : @color-supernova;
@control-hover-error-color            : @color-rose-bud;
@control-hover-warning-color          : @color-sparkler;

// Buttons
@button-icon-color                    : @button-text-color;
@button-cta-transparent-icon-color    : @button-icon-color;
@button-transparent-hover-icon-color  : @button-hover-text-color;

// Checkbox and Radio
@checkbox-checked-color               : @scheme-color-secondary;

// Headers
@header-level1-bg-color               : @color-tundora;
@header-level2-bg-color               : @color-charcoal;
@header-level3-bg-color               : @color-mine-shaft;
@header-level4-bg-color               : @color-cod-grey;

// Tabs
@tab-level2-border-color              : @color-tundora;
@tab-level2-bg-color                  : @color-mine-shaft;
@tab-level2-active-bg-color           : @color-cornflower-blue;
@tab-level3-text-color                : @color-silver;
@tab-level3-active-text-color         : @color-white;

// Links
@link-visited-text-color              : @color-dusty-grey;
@link-alt-text-color                  : @link-text-color;
@link-alt-hover-text-color            : @link-hover-text-color;
@link-alt-visited-text-color          : @link-visited-text-color;

// Slider
@slider-track-fill-color              : @scheme-color-secondary;
@slider-thumb-hover-color             : @scheme-color-primary;
@slider-thumb-active-color            : @color-torea-bay;
@slider-thumb-border-color            : @color-lights-out;
@slider-thumb-hover-border-color      : @slider-thumb-border-color;
@slider-thumb-active-border-color     : @slider-thumb-border-color;

// List
@list-item-selected-background-color  : @color-charcoal;

// Dialog
@dialog-content-background-color      : @color-mine-shaft;
@dialog-footer-background-color       : @color-cod-grey;
@dialog-border-color                  : @color-tundora;

// Pill
@pill-background-color                : @color-cod-grey;
@pill-border-color                    : @color-charcoal;
@pill-toggle-active-border-color      : @color-lights-out;
@pill-default-close-color             : @color-silver;

// Loader
@loader-accent-color                  : @color-cornflower-blue;
@loader-bar-color                     : @separator-color;
@loader-shape-color                   : @color-grey;

// Tooltip
@tooltip-text-color                   : @color-lights-out;

// Kbd
@kbd-background-color                 : @color-tundora;

// Search List Item (for auto-suggest)
@search-list-background-color                     : @color-mine-shaft;
@search-list-hover-background-color               : @color-charcoal;
@search-list-color                                : @color-silver;
@search-list-description-color                    : @control-text-color;
@search-list-hover-color                          : @input-hover-text-color;
@search-list-description-hover-color              : @global-text-color;
@search-list-more-search-background-color         : @panel-background-color;
@search-list-more-search-hover-background-color   : @search-list-hover-background-color;
@search-list-more-search-color                    : @color-silver;

@tree-menu-item-height                            : 28px;
@tree-menu-item-background-color                  : @color-cod-grey;
@tree-menu-item-group-background-color            : @color-mine-shaft;
@tree-menu-item-group-hover-text-color            : @color-white;
@tree-menu-item-group-hover-background-color      : @color-charcoal;

// Select
@select-background-color              : @color-mine-shaft;

// Calendar
@calendar-background-color                        : @header-level3-bg-color;
@calendar-body-background-color                   : @calendar-background-color;
@calendar-header-text-color                       : @color-dusty-grey;
@calendar-header-background-color                 : @panel-background-color;
@calendar-header-border-color                     : @scheme-color-tertiary;
@calendar-cell-text-color                         : @global-text-color;
@calendar-cell-hover-text-color                   : @button-hover-text-color;
@calendar-cell-hover-background-color             : @button-hover-background-color;
@calendar-selected-text-color                     : @global-text-selection-color;
@calendar-selected-background-color               : @global-text-selection-background;
@calendar-cell-background-color                   : @global-background-color;
@calendar-cell-today-text-color                   : @global-text-selection-color;
@calendar-cell-today-background-color             : @color-tundora;
@calendar-cell-range-today-text-color             : @global-text-selection-color;
@calendar-cell-press-background-color             : @button-pressed-background-color;

// Scrollbar
@scrollbar-thumb-global-margin                    : 2px;
@scrollbar-size-large                             : 16px;
@scrollbar-button-width                           : 16px;
@scrollbar-arrow-size                             : 8px;
@scrollbar-corner-color                           : transparent;
@scrollbar-button-border-color                    : @scrollbar-track-border-color;
@scrollbar-button-border-opposite-color           : @scrollbar-track-background-color;
@scrollbar-button-hover-border-color              : @button-hover-background-color;
@scrollbar-button-hover-border-opposite-color     : @button-hover-background-color;
@scrollbar-button-pressed-border-color            : @scrollbar-track-border-color;
@scrollbar-button-pressed-border-opposite-color   : @scrollbar-track-border-color;
@scrollbar-button-color                           : @color-silver;
@scrollbar-track-border-color                     : @color-lights-out;

// Popup menu
@overlay-menu-background-color                      : @color-mine-shaft;

// Toggle
@toggle-switch-background-color                   : @color-silver;
@toggle-border-color                              : @color-emperor;
@toggle-font-weight                               : @control-font-weight;

// DataViz - scale
@dataviz-color-scale-negative            : @color-tall-poppy;
@dataviz-color-scale-low-negative        : @dataviz-color-red;
@dataviz-color-scale-neutral             : @color-grey;
@dataviz-color-scale-low-positive        : @dataviz-color-green;
@dataviz-color-scale-positive            : @dataviz-color-darkgreen;
@dataviz-color-scale-range               : @dataviz-color-pink;

// Counter
@counter-background-color                : @color-tundora;
@counter-text-color                      : @color-white;