h1,h2 {
  font-size: var(--ds-text-header-size);
  font-family: var(--ds-text-header-font-family);
  color: var(--ds-text-header-color);
}
body {
  padding: 24px;
  font-size: var(--ds-text-body-size);
  font-family: var(--ds-text-body-font-family);
  color: var(--ds-text-body-color);
  background-color: var(--ds-background-default);
  will-change: background-color;
  transition: background-color 100ms;
}

dark-mode-toggle {
  margin-bottom: 20px;
  text-align: right;
}
