body {
  padding: 24px;
  font-size: var(--ds-font-size);
  font-family: var(--ds-font-family);
  color: var(--ds-text-body-color);
  background-color: var(--ds-background-color);
  will-change: background-color;
  transition: background-color 100ms;
}
