@css-properties: {

  // Output colour scheme properties
  --color-scheme-primary        : @scheme-color-primary;
  --color-scheme-secondary      : @scheme-color-secondary;
  --color-scheme-tertiary       : @scheme-color-tertiary;
  --color-scheme-complementary  : @scheme-color-complementary;

  // Color scheme variables
  --color-scheme-negative   : @negative-color-american;
  --color-scheme-neutral    : @neutral-color-american;
  --color-scheme-positive   : @positive-color-american;
  --color-scheme-tickup     : @tickup-color-american;
  --color-scheme-tickdown   : @tickdown-color-american;
  --color-scheme-ticktext   : @tick-text-color;
  
  &[movement-color-profile="asian1"] {
    --color-scheme-negative   : @negative-color-asian1;
    --color-scheme-neutral    : @neutral-color-asian1;
    --color-scheme-positive   : @positive-color-asian1;
    --color-scheme-tickup     : @tickup-color-asian1;
    --color-scheme-tickdown   : @tickdown-color-asian1;
  }
  
  &[movement-color-profile="asian2"] {
    --color-scheme-negative   : @negative-color-asian2;
    --color-scheme-neutral    : @neutral-color-asian2;
    --color-scheme-positive   : @positive-color-asian2;
    --color-scheme-tickup     : @tickup-color-asian2;
    --color-scheme-tickdown   : @tickdown-color-asian2;
  }
    
  &[movement-color-profile="european"] {
    --color-scheme-negative   : @negative-color-european;
    --color-scheme-neutral    : @neutral-color-european;
    --color-scheme-positive   : @positive-color-european;
    --color-scheme-tickup     : @tickup-color-european;
    --color-scheme-tickdown   : @tickdown-color-european;
  }

};
