kbd {
  display: inline-block;
  color: @scheme-color-complementary;
  background-color: @kbd-background-color;
  box-shadow: 0px 0px 0px 2px @kbd-background-color;
  font-weight: 500;
  font-family: inherit;
  font-size: unit(((@global-text-size - 2) / @global-text-size), em);
  border-radius: 1em;
  padding: 0 .5em;
  height: 1.2em;
  margin-top: -0.1em;
}
