@import '@refinitiv-ui/elemental-theme/src/native-elements/table';

th {
  font-weight: @grid-header-font-weight;
  border: @grid-border;
}

th:hover {
  background-color: @grid-header-hover-background-color;
}