@font-face {
  font-family: 'Proxima Nova Fin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.refinitiv.net/public/libs/elf/assets/elf-theme-halo/resources/fonts/proximanovafin/proximanovafin-regular.woff2') format('woff2'),
  url('https://cdn.refinitiv.net/public/libs/elf/assets/elf-theme-halo/resources/fonts/proximanovafin/proximanovafin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Fin';
  font-style: normal;
  font-weight: 500 600;
  font-display: swap;
  src: url('https://cdn.refinitiv.net/public/libs/elf/assets/elf-theme-halo/resources/fonts/proximanovafin/proximanovafin-semibold.woff2') format('woff2'),
  url('https://cdn.refinitiv.net/public/libs/elf/assets/elf-theme-halo/resources/fonts/proximanovafin/proximanovafin-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Fin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.refinitiv.net/public/libs/elf/assets/elf-theme-halo/resources/fonts/proximanovafin/proximanovafin-bold.woff2') format('woff2'),
  url('https://cdn.refinitiv.net/public/libs/elf/assets/elf-theme-halo/resources/fonts/proximanovafin/proximanovafin-bold.woff') format('woff');
}