@import '../../variables';

// Globals
@global-text-color                       : @color-steel;
@global-background-color                 : @color-darkecho;
@global-text-selection-color             : @color-aluminium;

// Scheme Colours
@scheme-color-secondary                  : hsl(236, 35%, 44%);
@scheme-color-tertiary                   : @color-slate;

// Movement colours profile (NEUTRAL)
@neutral-color-american                  : @color-steel;
@neutral-color-asian1                    : @color-steel;

// Tick colours (POSITIVE)
@tickup-color-asian2                     : @color-dataviz-yellow;

// Tick text colour
@tick-text-color                          : @color-black;

// Buttons
@button-disabled-background-color        : shade(@button-background-color, 20%);
@button-disabled-border-color            : shade(@button-border-color, 20%);

// Tabs
@tab-disabled-background-color           : shade(@tab-background-color, 20%);
@tab-active-disabled-background-color    : shade(@tab-active-background-color, 20%);

// Overlay
@overlay-background-color                : @color-black;

// Panels
@panel-background-color                  : @color-vinyl;

// Controls
@control-border-color                    : @color-slate;

// Inputs
@input-disabled-text-color               : shade(@input-text-color, 50%);

//Separators
@separator-color                         : @color-slate;

// Scrollbar
@scrollbar-track-background-color        : @color-vinyl;
@scrollbar-thumb-background-color        : @color-slate;
@scrollbar-thumb-hover-background-color  : @color-steel;
@scrollbar-thumb-active-background-color : @color-grey;

// Grid
@grid-row-background-color               : @color-vinyl;

// Tooltip
@tooltip-background-color                : @color-vinyl;

// Slider
@slider-tick-color                        : lighten(@scheme-color-primary,10%);
@slider-thumb-color                       : @scheme-color-primary;
@slider-track-color                       : lighten(@color-vinyl,20%);
