.placeholder() {
  &::placeholder {
    color: @cont-color-common-fg-generic-subtle;
  }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: @cont-color-common-fg-generic-subtle;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: @cont-color-common-fg-generic-subtle;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: @cont-color-common-fg-generic-subtle;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: @cont-color-common-fg-generic-subtle;
  }

  &[disabled]::placeholder {
    color: @input-disabled-text-color;
  }
  &[disabled]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: @input-disabled-text-color;
  }
  &[disabled]::-moz-placeholder {
    /* Firefox 19+ */
    color: @input-disabled-text-color;
  }
  &[disabled]:-ms-input-placeholder {
    /* IE 10+ */
    color: @input-disabled-text-color;
  }
  &[disabled]:-moz-placeholder {
    /* Firefox 18- */
    color: @input-disabled-text-color;
  }
}
