@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-button-bar';

:host {
  background: none;

  // using default border color when hover ef-button
  ::slotted(ef-button:not(:focus):hover),
  ::slotted(ef-button:not(:focus)[active][toggles]:hover) {
    border-color: @button-border-color;
  }
  // joint border
  ::slotted(ef-button:not(:first-child)),
  ::slotted(ef-button-bar:not(:first-child)) {
    margin-left: -@button-border-width;
  }
}