@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-counter';

:host {
  @size: unit((@button-font-size + 8), px);
  border-radius: round((@size / 2));
  border: 1px solid @color-silver;
  min-width: 14px;
  height: 16px;
  line-height: @size;
  color: @counter-text-color;
  background-color: @counter-background-color;
  font-size: 10px;
  padding: 0px 3px;
  &:hover {
    background-color: @button-hover-background-color;
    border-color: @button-hover-border-color;
    color: @button-hover-text-color;
  }
}