@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-counter';

:host {
  border-radius: 10px;
  border: 1px solid @color-silver;
  min-width: 14px;
  height: 16px;
  line-height: 10px;
  color: @counter-text-color;
  background-color: @counter-background-color;
  font-size: 10rem;
  padding: 0px 3px;
  &:hover {
    background-color: @button-hover-background-color;
    border-color: @button-hover-border-color;
    color: @button-hover-text-color;
  }
}