@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-collapse';

:host {
  text-transform: uppercase; // default header text to uppercase

  // use to modify header color when hover and expaned
  @dark-modifier: 10%;
  @light-modifier: 3%;

  [part="header"] {
    background-color: @header-level3-bg-color;
  }

  [part="header-toggle"] {
    background-color: transparent;
    text-transform: inherit;
  }

  &:hover,
  &[expanded] {
    [part="header"] {
      color: @input-hover-text-color;
      cursor: pointer;
      background-color: lighten(@header-level3-bg-color, @dark-modifier);
      & when (@variant = light) {
        background-color: darken(@header-level3-bg-color, @light-modifier);
      }
    }
  }

  &[level="1"] {
    [part="header"] {
      background-color: @header-level1-bg-color;
    }
    &:hover,
    &[expanded] {
      [part="header"] {
        background-color: lighten(@header-level1-bg-color, @dark-modifier);
        & when (@variant = light) {
          background-color: darken(@header-level1-bg-color, @light-modifier);
        }
      }
    }
  }

  &[level="2"] {
    [part="header"] {
      background-color: @header-level2-bg-color;
    }
    &:hover,
    &[expanded] {
      [part="header"] {
        background-color: lighten(@header-level2-bg-color, @dark-modifier);
        & when (@variant = light) {
          background-color: darken(@header-level2-bg-color, @light-modifier);
        }
      }
    }
  }

  &[level="4"] {
    [part="header"] {
      background-color: @header-level4-bg-color;
    }
    &:hover,
    &[expanded] {
      [part="header"] {
        background-color: lighten(@header-level4-bg-color, @dark-modifier);
        & when (@variant = light) {
          background-color: darken(@header-level4-bg-color, @light-modifier);
        }
      }
    }
  }

  [part="content"] {
    text-transform: none; // reset, so content won't be uppercase
  }

  [part="toggle"] {
    margin: 0 4px;
    opacity: 1;
  }
}
