@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-clock';

:host {
  [part~='seconds'] {
    color: @color-dusty-grey;
  }
  [part~='am-pm'] {
    font-size: 60%;
    line-height: 1.5em;
    padding-left: 4px;
  }

  &[analogue] {
    color: @color-dusty-grey;
    .default-analog-svg(@color-dusty-grey);
  }
}
