@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-heatmap';

:host {
  --below-point-color: @dataviz-color-scale-low-negative;
  --mid-point-color: @color-white;
  --above-point-color: @dataviz-color-scale-low-positive;

  [part=canvas] {
    color: if(lightness(@panel-background-color) > 50%, @color-white, @color-black);
  }

  .x-axis-item, .y-axis-item, [part=cross-box] {
    font-weight: @grid-header-font-weight;
  }
}
