@import (reference) '~@refinitiv-ui/elemental-theme/src/custom-elements/ef-pill';

:host {
  &:extend(:host);

  @hover-background-color          : @button-hover-background-color;
  @hover-border-color              : @hover-background-color ;
  @selected-background-color       : @hover-background-color;
  @pressed-background-color        : @button-pressed-background-color;

  @size: unit((@button-font-size + 8), px);
  @padding: 0 8px;
  @cross-size: round((@size / 2 + 2));
  border-radius: round((@size / 2));
  height: @size;
  line-height: @size;
  background-color: @pill-background-color;
  border: 1px solid @pill-border-color;

  &:hover, &[active]:hover {
    background-color: @hover-background-color;
    border-color: @hover-border-color;
  }

  &[active] {
    border-color: @pill-toggle-active-border-color;
    background-color: @selected-background-color;
  }

  &[toggles] {
    &[active][pressed], &[pressed] {
      border-color: @pill-toggle-active-border-color;
    }
    &[pressed], &[pressed]:hover {
      background-color: @pressed-background-color;
    }
  }

  &[focused="visible"] {
    &:extend(:host[focused="visible"] all);
  }

  &:hover, &[active], &[pressed] {
    color: @global-text-selection-color;

    [part=close] {
      color: @global-text-selection-color;
      opacity: 1;
    }
  }

  &[disabled] {
    border-color: @button-disabled-border-color;
    color: @button-disabled-text-color;
    background-color: @button-disabled-background-color;
  }

  [part=close] {
    &:extend(:host [part=close] all);
    color: @pill-default-close-color;
    min-width: @cross-size;
    opacity: 0.4;
    background-color: initial;
  }

  .mobile-specific({
    &[toggles]:not([active]), &:not([active]) {
      color: @global-text-color;
      background-color: @pill-background-color;
      border-color: @pill-border-color;

      [part=close] {
        color: @global-text-color;
        opacity: 0.4;
      }
    }
  });
}
