@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-toggle';

:host {
  @width             : 44px;
  @height            : 24px;
  @switch-margin     : 1px;
  @switch-width      : 20px;
  @label-padding     : 3px;
  // Padding left/right include the switch button, use for align the label to center
  @switching-padding : unit((@switch-width + @switch-margin + @label-padding), px);

  width: @width;
  height: @height;
  font-weight: @toggle-font-weight;
  color: @global-text-color;
  line-height: unit((@height - (@label-padding * 2)), px);
  text-transform: uppercase;

  [part=toggle] {
    border-color: @toggle-border-color;
    &::after {
      top: @switch-margin;
      left: @switch-margin;
      width: calc(50% - @switch-margin);
      height: calc(100% - (@switch-margin * 2));
      background-color: @toggle-switch-background-color;
    }
  }

  &[label], &[checked-label] {
    width: 54px;
    min-width: @width;

    &[checked] [part=toggle] {
      padding-right: @switching-padding;
      padding-left: @label-padding;
    }

    [part=toggle] {
      padding: @label-padding;
      padding-left: @switching-padding;

      &::after {
        width: @switch-width;
      }
    }
  }

  &[checked] [part=toggle]::after {
    right: @switch-margin;
  }

  .desktop-specific({
    &:hover:not([readonly]) {
      color: @input-hover-text-color;
      [part=toggle] {
        border-color: @toggle-switch-background-hover-border-color;
        &::after {
          background-color: @toggle-switch-background-hover-color;
          border-color: @toggle-switch-background-hover-border-color;
        }
      }
    }
  });

  // Spacial style for dark theme only
  & when (@variant = dark) {
    &[checked] {
      color: @color-white;
    }

    &[disabled] [part=toggle]::after {
      opacity: 0.2;
    }

    // Hide border when not hover
    [part=toggle]::after,
    &[checked] [part=toggle]::after {
      border: 1px solid @control-background-color;
    }
  }
}
