@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-time-picker';

:host {
  [part='input'] {
    width: 24px;
  }

  [part='divider'] {
    width: 2px;
  }

  [part='input'],
  [part='toggle'] {
    &:focus::after,
    &[focused]::after {
      border-bottom: 4px solid transparent;
      display: none;
    }
  }

  &[readonly]:not([focused]) {
    border-color: @input-disabled-border-color;
  }

  &:hover:not([readonly]):not([focused]) {
    border-color: @input-hover-border-color;
  }

  &[error] {
    &:not([focused]) {
      border-color: @control-error-color;
    }

    &[readonly]:not([focused]) {
      border-color: fade(@control-hover-error-color, 50%);
    }

    &:hover:not([readonly]):not([focused]) {
      border-color: @control-hover-error-color;
    }
  }
}
