@import '@refinitiv-ui/elemental-theme/src/custom-elements/ef-tab';

:host {
  &[level="1"] {
    border-right: 1px solid @tab-border-color;
  }

  &[level="2"] {
    &:not(:last-child) {
      border-right: none;
      [part="label-container"]::after {
        content: '';
        position: absolute;
        margin: auto;
        width: 1px;
        background: @tab-level2-border-color;
        height: 70%;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
    }
    &:not(:active):not([active]):not(:hover) {
      background-color: @tab-level2-bg-color;
    }
    &[active]:not(:active):not(:hover) {
      color: @tab-level2-active-bg-color;
      background-color: @global-background-color;
    }
    &[active]:focus:not([focused]), &[focused=visible]:not(:active):not(:hover) {
      color: @tab-focused-text-color;
    }
  }

  &[level="3"] {
    border-bottom: 2px solid transparent;
    color: @tab-level3-text-color;
    background-color: @global-background-color; 

    &[clears-on-hover] [part="close-container"] {
      background: @global-background-color;
      box-shadow: @tab-clears-box-shadow @global-background-color;
    }

    &:focus:not([focused]), &[focused=visible] {
      color: @tab-level3-active-text-color;
      background-color: @tab-level2-bg-color;
    }

    &:hover, &:active, &[active] {
      color: @tab-level3-active-text-color;
      background-color: @global-background-color;

      [part=close-container] {
        background: @global-background-color;
        box-shadow: @tab-clears-box-shadow @global-background-color;
      }

      [part=close] {
        color: @tab-level3-active-text-color;
      }

      border-color: @tab-active-background-color;
    }

    &:active {
      border-color: @tab-active-pressed-background-color;
    }
  }
}

