@variant: dark;
@import (reference) '@refinitiv-ui/halo-theme/exports/bare.less';
@import './app.less';

.job-panel {
  border: 1px solid @control-border-color;
  background-color: @global-background-color;
}