/*
INSTRUCTIONS
‾‾‾‾‾‾‾‾‾‾‾‾
- File name to be exactly the same name as your component
- Add component's styles inside :host scope
- Styles in top level of :host scope can be overridden by application by using standard CSS
*/

:host {
  max-width: 500px;

  [part='container'] {
    padding: 20px;
  }

  [part='logo-container'] {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
  }

  [part='logo'] {
    height: 6em;
    padding: 1.5em;
    will-change: filter;

    &:hover {
      filter: drop-shadow(0 0 2em @scheme-color-primary);
    }
  }

  [part='sub-title'] {
    color: @scheme-color-secondary;
  }
}
