@import '../charcoal/variables';
@import 'overrides';

// Scheme
@scheme-color-highlight                           : @color-blue-columbia;

// Buttons
@button-background-image                          : linear-gradient(fade(@color-black, 0%) 0%,fade(@color-black, 10%) 100%);
@button-cta-background-image                      : linear-gradient(fade(@color-white, 40%) 0%,fade(@color-white, 0%) 100%);
@button-cta-pressed-background-image              : linear-gradient(fade(@color-white, 0%) 0%,fade(@color-white, 40%) 100%);
@button-cta-pressed-background-color              : @button-cta-background-color;
@button-pressed-background-image                  : none;
@button-toggle-active-background-image            : linear-gradient(fade(@color-black, 10%) 0%,fade(@color-black, 0%) 100%);

// Combo-box
@combo-box-popup-background-color                 : @color-grey-athens-gray;

// Checkbox
@checkbox-disabled-check-color                    : @color-grey-aluminium;

// Pill
@pill-text-color                                  : @color-white;
@pill-background-color                            : @color-grey-aluminium;
@pill-hover-background-color                      : @color-grey-manatee;
@pill-selected-background-color                   : @color-orange-mango-tango;
@pill-selected-hover-background-color             : @pill-selected-background-color;

// Headings
@heading-color-1                                  : @color-grey-tundora;
@heading-color-2                                  : @color-grey-tundora;
@heading-color-3                                  : @color-grey-tundora;
@heading-color-4                                  : @color-grey-tundora;
@heading-color-5                                  : @color-grey-tundora;
@heading-color-6                                  : @color-grey-tundora;

// Headers
@header-level1-text-color                         : @color-grey-tundora;
@header-level2-text-color                         : @color-grey-emperor;
@header-level3-text-color                         : @color-grey-storm-gray;
@header-level1-bg-color                           : @color-grey-loblolly;
@header-level2-bg-color                           : @color-grey-link-water;
@header-level3-bg-color                           : @color-grey-iron;
@header-level1-link-hover-color                   : @header-level1-text-color;
@header-level2-link-hover-color                   : @header-level2-text-color;
@header-level3-link-hover-color                   : @header-level3-text-color;
@header-level1-background-image                   : linear-gradient(fade(@color-white, 18%) 0,fade(@color-white, 0%) 100%);

// Input
@input-indirect-border-color                      : @color-pacifika;
@input-indirect-text-color                        : @color-persian-green;
@input-indirect-background-color                  : @color-foam;

// Dialog
@dialog-close-button-icon-color                   : @color-white;
@dialog-close-button-background-color             : @color-red-valencia;
@dialog-close-button-hover-background-color       : tint(@dialog-close-button-background-color, 5%);
@dialog-close-button-pressed-background-color     : shade(@dialog-close-button-background-color, 10%);
@dialog-footer-background-color                   : @color-grey-solitude;
@dialog-inner-border-color                        : @color-grey-link-water;
@dialog-outer-border-color                        : @color-white;

// Calendar
@calendar-background-color                        : @color-white;
@calendar-header-text-color                       : @color-grey-storm-gray;
@calendar-header-background-color                 : @header-level3-bg-color;
@calendar-cell-text-color                         : @global-text-color;
@calendar-cell-hover-text-color                   : @color-black;
@calendar-cell-background-color                   : @color-white;
@calendar-cell-today-text-color                   : @calendar-cell-background-color;
@calendar-cell-range-today-text-color             : @calendar-selected-background-color;
@calendar-cell-today-background-color             : @color-grey-bombay;
@calendar-cell-focused-background-color           : @calendar-header-background-color;
@calendar-selected-text-color                     : @color-white;

// Pagination
@pagination-input-height                          : @control-height;
@pagination-input-margin                          : 0 1px;

// Rating
@rating-background-color                          : @color-grey-bombay;
@rating-active-background-color                   : @color-orange-mango-tango;

// Tree
@tree-base-background-color                       : @color-grey-link-water;
@tree-item-divider-color                          : @color-grey-zumthor;
@tree-item-default-background-color               : @color-grey-athens-gray;
@tree-item-depth0-background-color                : @color-grey-solitude;
@tree-item-hover-background-color                 : @color-grey-iron;

// Multi Select
@tree-selection-counter-background-color            : @color-grey-storm-gray;
@tree-selection-counter-text-color                  : @color-grey-solitude;
@tree-selection-loader-overlay-color                : @color-grey-athens-gray;

// Toggle
@toggle-text-color                                : @color-grey-tundora;

// Card
@card-background-color                            : @color-white;