.defaults() {
  word-break: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}