.core-grid-variables {
    // Core grid css variables mapper for atlas-blotter and ef-grid
    // Re-map all variables from variables.less to tr-grid variables.
    // Please try to modify colors in variables.less first.
    @orange                                         : @dataviz-color-orange;
    @white                                          : @dataviz-color-white;

    @global-focus-bordercolor                       : @grid-row-focus-border-color;
    
    // Grid
    // Grid title is column header
    @grid-title-bgcolor                             : @grid-header-background-color;
    @grid-title-txtcolor                            : @grid-header-text-color;
    @grid-title-hover-txtcolor                      : @grid-header-text-color;
    
    // Grid header is row header
    @global-bulletcolor                             : @grid-header-text-color; // Row grouping arrow
    @grid-header-txtcolor                           : @grid-header-text-color; // Row grouping header text
    @grid-header-bgcolor                            : @grid-header-background-color;

    @grid-row-txtcolor                              : @grid-row-text-color;
    @grid-row-bgcolor                               : @grid-row-background-color;
    @grid-bordercolor                               : @grid-border-color;
    @grid-alt-row-bgcolor                           : @grid-row-alternate-background-color;
    @grid-highlight-txtcolor                        : @grid-row-hover-text-color;
    @grid-highlight-bgcolor                         : @grid-row-hover-background-color;
    @grid-active-txtcolor                           : @grid-row-active-text-color;
    @grid-active-bgcolor                            : @grid-row-active-background-color;
    @grid-active-bordercolor                        : @grid-row-focus-border-color;
    @grid-selection-bgcolor                         : @grid-row-active-background-color;
    
    // Scrollbar
    @scrollbar-bgcolor                              : @scrollbar-track-background-color;
    
    // Button
    @button-bgcolor                                 : @button-background-color;
    @button-txtcolor                                : @button-text-color;
    @button-hover-txtcolor                          : @button-hover-text-color;
    @button-hover-bgcolor                           : @button-hover-background-color;

    // Do transparent for now. these are for column grouping button but may not relevant for tr-grid
    @button-bgoverlay-1                             : transparent;
    @button-bgoverlay-2                             : transparent;
    
    // Input
    @input-txtcolor                                 : @input-text-color;
    @input-selection-txtcolor                       : @global-text-selection-color;
    @input-selection-bgcolor                        : @global-text-selection-background;
    
    @grid-column-grouped-bgcolor                    : @grid-header-bgcolor; // doesn't seem used
    
    // Horizontal & vertical guideline line when column resize and drag to move row
    @grid-guideline-bgcolor                         : @scheme-color-primary;
    
    // Box show when drag row
    @grid-dragbox-bordercolor                       : @control-border-color;
}