.header-defaults() {
  color: @header-text-color;
  background-color: @header-background-color;
  padding: @header-padding;
  height: @header-height;
  font-size: @header-font-size;
  font-family: @header-font-family;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}