@import '@refinitiv-ui/elemental-theme/src/native-elements/a';

a {
  cursor: pointer;
  color: @link-text-color;
  &:hover {
    color: @link-hover-text-color ;
  }
  &:visited {
    color: @link-visited-text-color;
  }
  &:focus {
    border-style: dotted;
    border-width: 0 0 1px 0;
    border-color: @scheme-color-primary;
  }
  &[alt] {
    color: @link-alt-text-color;
  }
  &[alt]:hover {
    color: @link-alt-hover-text-color;
  }
  &[alt]:visited {
  color: @link-alt-visited-text-color;
  }
}
