@import 'element:ef-button';
@import '../responsive';

:host {
  vertical-align: bottom;
  background-color: @header-background-color;
  margin: @button-margin;
  border-radius: @button-border-radius;
  box-shadow: @button-box-shadow;
  .touch-action();
}

::slotted(ef-button:not(:hover):not(:focus)) {
  box-shadow: 0 0 @separator-width @global-box-shadow-color;
}
