@import 'element:ef-panel';
@import 'element:ef-header';
@import 'element:ef-icon';
@import '../responsive';

:host {
  [part="toggle"] {
    transition: @global-transition-duration @global-transition-easing;
    opacity: .5;
    margin-right: 0.25em;
    flex-shrink: 0;
    pointer-events: none;
  }

  [part="spacer"] {
    flex: none;
    width: extract(@header-padding, 2);
  }

  &[expanded] [part="toggle"] {
    transform: rotate(90deg);
  }

  [part~=header] {
    padding: 0;
    &[focused="visible"] {
      background-color: @button-hover-background-color;
    }
  }

  [part="header-toggle"] {
    .touch-action();
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
  }

  @keyframes expand {
    from {
      height: 0;
    }

    to {
      height: var(--target-height);
    }
  }

  @keyframes collapse {
    from {
      height: var(--target-height);
    }

    to {
      height: 0;
    }
  }

  [part="content"] {
    animation-duration: @global-transition-duration;
    animation-timing-function: @global-transition-easing;
  }

  &:not([expanded]) {
    [part="content"] {
      height: 0;
      animation-name: collapse;
    }

    [part="toggle"] {
      transform: rotate(0deg);
    }
  }

  &[expanded] [part="content"] {
    animation-name: expand;
  }

  [part="content"] ef-panel {
    overflow: auto;
    &:not([spacing]) {
      padding: var(--panel-padding);
    }
  }
}
