@import 'element:ef-button';
@import 'element:ef-overlay-menu';
@import 'element:ef-label';

:host {
  @spacing: 16px;
  width: 400px;
  box-shadow: 0px 2px 8px 0px @global-box-shadow-color;
  padding: @spacing;
  background-color: @color-vinyl;
  & when (@variant = light) {
    background-color: @color-white; 
  }
  [part=body] {
    flex: 1 0 auto;
  }
	[part=header] {
    display: flex;
    position: relative;
    margin-bottom: @spacing;
  }
  [part="menu-button"] {
    transform: rotate(90deg);
    font-size: @icon-size;
    margin: 0;
    height: 20px;
  }
  [part=header-text] {
    font-size: @icon-size;
    font-weight: 700;
    width: 100%;
  }
  [part=footer] {
    border-top: @separator-width solid @separator-color;
    margin-top: @spacing;
    padding-top: 8px;
    width: 100%;
  }
  &:not([header]) {
    [part=header] {
      justify-content: flex-end;
    }
  }
}