@import 'element:ef-panel';
@import 'element:ef-icon';
@import '../responsive';
@import '../shared-styles/header';

:host {
  &[focused="visible"] [part~=header-toggle]:focus [part~=header-label] {
    outline: 1px solid @color-scheme-primary;
  }

  [part~=header-wrapper] {
    .header-defaults;
    padding: 0;
    align-items: stretch;
  }

  [part="header-toggle"] {
    .touch-action();
    cursor: pointer;
    padding: 0 extract(@header-padding, 2);
    align-items: center;
    outline: none;
  }

  [part="header-label"] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  [part="toggle"] {
    transition: @global-transition-duration @global-transition-easing;
    opacity: .5;
    margin-right: 0.5em;
    flex-shrink: 0;
  }

  &[expanded] [part="toggle"] {
    transform: rotate(90deg);
  }

  [part="header-wrapper"] ::slotted(*) {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  @keyframes expand {
    from {
      height: 0;
    }

    to {
      height: var(--target-height);
    }
  }

  @keyframes collapse {
    from {
      height: var(--target-height);
    }

    to {
      height: 0;
    }
  }

  [part="content"] {
    animation-duration: @global-transition-duration;
    animation-timing-function: @global-transition-easing;
  }

  [part~=content-data] {
    overflow: auto;
  }

  &:not([expanded]) {
    [part="content"] {
      height: 0;
      animation-name: collapse;
    }

    [part="toggle"] {
      transform: rotate(0deg);
    }
  }

  &[expanded] [part="content"] {
    animation-name: expand;
  }

  [part="content"] ef-panel:not([spacing]) {
    padding: var(--panel-padding);
  }
}
