@import 'element:ef-header';
@import 'element:ef-layout';

:host {
  font-size: @global-text-size;
  --grid-line-color: fade(@grid-border-color, 50%);
  --zero-line-color: fade(@grid-border-color, 50%);
  --animation-duration: 1000;
  --line-width: 2px;
  --line-tension: 0;
  --multi-dataset-border-color: @panel-background-color; // Transparent border for pie and doughnut chart
  --tooltip-background-color: fade(@global-text-color, 90%);
  --tooltip-title-color: @global-background-color;
  --tooltip-body-color: @global-background-color;
  --tooltip-border-radius: @control-border-radius;
  --tooltip-caret-size: 7px;
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 5px;
  --tooltip-title-spacing: 0;
  --legend-key-box-width: 4px;

  // Output dataviz colours
  --chart-color-1: @dataviz-color-1;
  --chart-color-2: @dataviz-color-2;
  --chart-color-3: @dataviz-color-3;
  --chart-color-4: @dataviz-color-4;
  --chart-color-5: @dataviz-color-5;
  --chart-color-6: @dataviz-color-6;
  --chart-color-7: @dataviz-color-7;
  --chart-color-8: @dataviz-color-8;
}
