@import '../shared-styles/close-button';
@import '../shared-styles/scrollbar';
@import 'element:ef-overlay';
@import 'element:ef-panel';
@import 'element:ef-header';
@import 'element:ef-button';
@import 'element:ef-icon';
@import '../responsive';

:host {
  &[full-screen] {
    width: 100%;
  }

  [part=close] {
    .touch-action();
    right: .35em;
    height: 30px;
    width: 30px;
    position: relative;
    opacity: 0.8;
    transition: @button-transition;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.6;
    }
  }
  [part=default-button] {
    .touch-action();
    margin: @panel-padding;
    margin-left: round((min(@panel-padding) / 2));
    &:first-child {
      margin-right: 0;
    }
  }
  [part=footer] {
    border-top: @separator-width solid @separator-color;
    background: @scrollbar-track-background-color;
  }
  .mozilla-scrollbars();
}

.webkit-scrollbars();
