@import 'element:ef-item';
@import 'element:ef-icon';
@import 'element:ef-overlay';
@import '../shared-styles/scrollbar';

:host {
  min-width: 150px;
  max-width: 300px;

  &[compact] {
    min-width: 250px;
  }

  [part=menu-back] {
    border-bottom: 1px solid @list-item-divider-color;

    &:hover {
      background-color: @list-item-focus-background-color;
    }
  }

  .mozilla-scrollbars();
}

.webkit-scrollbars();
