@import 'element:ef-button';
@import 'element:ef-text-field';
@import 'element:ef-button-bar';
@import 'element:ef-layout';
@import '../responsive';

:host {
  [part=container] {
    align-items: center;
    justify-content: flex-end;
  }

  [part=input] {
    width: 180px;
    min-width: 40px;
    text-align: center;
  }

  [part=input], [part=button] {
    .touch-action();
  }
}
