:host {
  height: 10px;
  color: @dataviz-color-primary;

  [part="bar"] {
    // todo: remove this in v5
    // use --bar-color for backwards compatibility
    background-color: var(--bar-color, currentColor);
    transition: width @global-transition-duration @global-transition-easing;
  }

  [part="label"] {
    color: @global-text-color;
    transition: margin @global-transition-duration @global-transition-easing;
  }

}
