:host {
  min-height              : 30px;
  --line-color            : @dataviz-color-1;
  --line-width            : 3px;
  --reference-line-color  : fade(@grid-border-color, 50%);
  --upper-line-color      : @dataviz-color-green;
  --lower-line-color      : @dataviz-color-red;
}
