:host {
  width: @slider-step-width;
  height: @slider-step-width;

  [part='marker'] {
    background-color: var(--marker-color, @global-text-color);
  }
  [part='label'] {
    top: 15px;
    transform: translateX(-40%);
  }
}
