:host {
  width: @slider-step-width;
  height: (@slider-step-width * 2);
  top: -(@slider-step-width / 2);

  [part='marker'] {
    background-color: var(--marker-color, @slider-thumb-color);
  }

  [part='label'] {
    top: 15px;
    transform: translateX(calc(-50% + @slider-step-width / 2));
  }
  &[label-align='right'] [part='label'] {
    transform: translateX(calc(-90% + @slider-step-width / 2));
  }
  &[label-align='left'] [part='label'] {
    transform: unset;
  }
}
