@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-card';

:host {
  background-color: @cont-color-common-container-surface-layer-1;
  border-radius: @cont-radius-common-md;
  box-shadow: @cont-elevation-common-level-0;
}
