@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-combo-box';

:host {
  [part='list'] {
    border-radius: @comp-menu-container-radius;
    border: 1px solid @comp-menu-container-color-border;

    ef-list-item:not(:first-child):not([type='divider']) {
      box-shadow: none;
    }
  }
}
