@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-card';

:host {
  color: @cont-color-common-fg-generic-bold;
  background-color: @cont-color-common-container-surface-layer-1;
  border-radius: @cont-radius-common-md;
  box-shadow: @cont-elevation-common-level-1;
  font-weight: @core-typography-font-weight-regular;

  [part='header'] {
    font-size: @core-typography-size-productive-400;
  }
}
