@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-counter';

:host {
  color: @cont-color-common-fg-generic-bold;
  background: @cont-color-common-container-surface-on-layer-1-subtle;
  border-color: @cont-color-shell-border-on-layer-1-bold;
  border-radius: @cont-radius-common-full;
  border-width: @cont-border-width-common-subtle;

  &:hover {
    color: @cont-color-common-fg-generic-bold-inverse;
    background-color: @cont-color-common-container-surface-on-layer-inverse-subtle;
    border-color: @cont-color-shell-border-on-layer-inverse-subtle;
  }
}
