@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-counter';

:host {
  color: @cont-color-status-fg-on-neutral-base;
  background: @cont-color-status-bg-negative-base;
  border-color: @cont-color-common-container-surface-on-layer-1-minimal;
  border-radius: @cont-radius-common-full;
  border-width: @cont-border-width-common-subtle;

  &:hover {
    color: @cont-color-status-fg-on-neutral-base;
    background: @cont-color-status-bg-negative-base;
    border-color: @cont-color-common-container-surface-on-layer-1-minimal;
  }
}
