@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-dialog';

:host {
  [part='header'] {
    background: @comp-dialog-header-container-color-bg-modal-enabled;
    color: @comp-dialog-header-label-color-fg;
    border-bottom: 1px solid @comp-dialog-header-container-color-border-modal-enabled;
  }
  [part='close'] {
    color: @comp-close-button-icon-color-fg-enabled;
  }
}
