@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-datetime-picker';

:host {
  [part='list'] {
    border: none;
    background-color: @comp-dialog-container-color-bg-non-modal-enabled;
    box-shadow: @comp-dialog-container-elevation-non-modal-enabled;
  }

  &[focused],
  &[focused][error][warning],
  &:not([disabled]):not([error]):not([warning]):hover {
    [part='icon'] {
      color: @scheme-color-primary;
    }
  }
}
