@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-datetime-picker';

:host {
  [part='list'] {
    border: none;
    background-color: @comp-dialog-container-color-bg-non-modal-enabled;
    box-shadow: @comp-dialog-container-elevation-non-modal-enabled;
  }
}
