@import (reference) '@refinitiv-ui/halo-theme/src/custom-elements/ef-item';

:host {
  &:extend(:host all);

  &[selected] {
    &:not([highlighted]):not([focused]):not([multiple]) {
      background-image: none;
    }
  }

  &[type='header'] {
    text-transform: none;
  }

  &:not([type='header']) {
    font-weight: @core-typography-font-weight-medium;
  }

  &[selected][highlighted] {
    background-color: @list-item-selected-background-color;
    color: @comp-menu-item-label-color-fg-single-pressed;
  }
}
