@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-swing-gauge';

:host {
  --primary-color: @dataviz-color-primary;
  --secondary-color: @cont-color-common-container-surface-on-layer-1-minimal;
  --center-line-color: @separator-color;
  --border-color: @separator-color;
}
