@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-select';

@import (reference) 'ef-text-field';

:host {
  &:extend(:host all);

  border-radius: @cont-radius-field;

  [part='list'] {
    border-radius: @comp-menu-container-radius;
    border: 1px solid @comp-menu-container-color-border;

    ef-item:not(:first-child):not([type='divider']),
    ::slotted(ef-item:not(:first-child):not([type='divider'])) {
      box-shadow: none;
    }
  }
}
