@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-swing-gauge';

:host {
  &:extend(:host all);
  --primary-color: @dataviz-color-primary;
  --secondary-color: @dataviz-color-complementary;
  --center-line-color: @separator-color;
  --border-color: @separator-color;
}
