@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-toggle';

:host {
  text-transform: none;

  &[label],
  &[checked-label] {
    width: 56px;
  }

  [part='toggle'] {
    &::after {
      background-color: @comp-button-container-color-bg-persist-on-light-enabled;
    }
  }

  .desktop-specific({
    &:hover:not([readonly]) {
      [part=toggle] {
        border-color: @comp-button-container-color-border-neutral-hover;
        &::after {
          background-color: @comp-button-container-color-bg-persist-on-light-hover;
        }
      }
      &[checked] [part=toggle] {
        &::after {
          background-color: @comp-button-container-color-bg-primary-hover;
        }
      }
    }
  });

  & when (@variant = dark) {
    [part='toggle'] {
      &::after {
        background-color: @comp-button-container-color-bg-persist-on-dark-enabled;
      }
    }

    .desktop-specific({
      &:hover:not([readonly]) {
        [part=toggle] {
          &::after {
            background-color: @comp-button-container-color-bg-persist-on-dark-hover;
          }
        }
      }
    });
  }
}
