@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-toggle';

:host {
  text-transform: none;
  border-radius: @cont-radius-common-full;
  color: @cont-color-control-fg-on-subtle;

  &[label],
  &[checked-label] {
    width: 56px;
  }

  &:hover:not([readonly]) {
    background-color: @cont-color-control-bg-subtle;
  }

  [part='toggle'] {
    border-color: @cont-color-control-border-minimal;
  }

  [part='toggle']::after {
    background-color: @cont-color-control-bg-bold;
    border-color: @cont-color-control-bg-bold;
  }

  &[disabled] {
    color: @cont-color-common-fg-generic-disabled-on-disabled-bold;
    [part='toggle'] {
      background-color: @cont-color-common-container-misc-disabled;
      border-color: @cont-color-common-container-misc-disabled;
    }
    [part='toggle']::after {
      background-color: @cont-color-common-fg-generic-disabled-on-disabled-bold;
      border-color: @cont-color-common-fg-generic-disabled-on-disabled-bold;
    }
  }

  &[readonly] {
    [part='toggle'] {
      background-color: @core-color-palette-misc-transparent;
      border-color: @cont-color-common-container-misc-disabled;
    }
    [part='toggle']::after {
      background-color: @cont-color-control-bg-base;
      border-color: @cont-color-control-bg-base;
    }
  }

  &[checked]:not([readonly]) {
    background-color: @cont-color-control-bg-base;
    [part='toggle']::after {
      background-color: @cont-color-control-fg-on-base;
    }
    [part='toggle'] {
      color: @cont-color-control-fg-on-bold;
      border-color: @cont-color-control-border-base;
    }
  }

  .desktop-specific({
    &:hover:not([readonly]) {
      [part=toggle] {
        border-color: @cont-color-control-border-moderate;
        &::after {
          background-color: @cont-color-control-bg-moderate;
          border-color: @cont-color-control-bg-moderate;
        }
      }
      &[checked] {
        background-color: @cont-color-control-bg-moderate;
        [part=toggle] {
          border-color: @cont-color-control-border-moderate;
          &::after {
            background-color: @cont-color-control-fg-on-base;
            border-color: @cont-color-control-bg-minimal;
          }
        }
      }
    }
  });

  & when (@variant = dark) {
    &[disabled] [part='toggle']::after {
      opacity: @cont-opacity-common-full;
    }
  }
}
