@import '@refinitiv-ui/halo-theme/src/custom-elements/ef-tooltip';

:host {
  &:extend(:host all);

  [part='tooltip'] {
    border: @panel-border;
    border-color: @tooltip-border-color;
  }

  box-shadow: @comp-tooltip-container-elevation;
}
