//* Action colour palette for something

// Dark
@color-mexican-red      : #A01C2B;
@color-carnation        : #F5475B;
@color-rose-bud         : #FAA8B1;
@color-green-pea        : #227542;
@color-emerald          : #39C46E;
@color-algae-green      : #87DCA7;
@color-olive            : #7F6400;
@color-supernova        : #FFC800;
@color-sparkler         : #FFE999;
@color-teal             : #007678;
@color-robins-egg       : #00D0D4;
@color-mint-tulip       : #AFEFF1;

// Light
@color-chestnut-rose    : #B63243;
@color-carbaret         : #D94255;
@color-sea-pink         : #EEACB4;
@color-everglade        : #246B3E;
@color-sea-green        : #309054;
@color-vista-blue       : #83D6A2;
@color-olive            : #7F6400;
@color-buddha-gold      : #CCA000;
@color-sparkler         : #FFE999;
@color-teal             : #007678;
@color-persian-green    : #009EA1;
@color-mint-tulip       : #AFEFF1;
