//* Secondary colour palette for Halo.

// Dark
@color-cod-grey: #1A1A1A;
@color-mine-shaft: #262626;
@color-charcoal: #333333;
@color-emperor: #4D4D4D;
@color-tundora: #404040;
@color-scorpion: #595959;
@color-grey: #808080;
@color-dusty-grey: #999999;
@color-silver: #CCCCCC;
@color-concrete: #F2F2F2;
@color-black-pearl: #050A2E;
@color-torea-bay: #0F1E8A;
@color-persian-blue: #1429BD;

// Light
@color-alabaster: #FAFAFA;
@color-concrete: #F2F2F2;
@color-mercury: #E6E6E6;
@color-desert-storm: #E0E0E0;
@color-alto: #D9D9D9;
@color-silver: #CCCCCC;
@color-nobel: #BFBFBF;
@color-scorpion: #595959;
@color-tundora: #404040;
@color-torea-bay: #0F1E8A;
@color-barley-white: #FFF4CC;
