//* Colour palette for charting and other data visualisations.
// Todo: Need to figure out the differences between data visualisation and charting colours.


// DARK
@color-cornflower-blue      : #6678FF;
@color-white                : #FFFFFF;
@color-supernova            : #FFC800;
@color-amethyst             : #9064CD;
@color-robins-egg           : #00D0D4;
@color-inter-orange         : #FF5000;
@color-caribbean-green      : #00C389;
@color-amaranth             : #EA2E6C;
@color-dusty-grey           : #999999;
@color-dodger-blue          : #3BBAFF;
@color-elm                  : #198C8C;
@color-crail                : #C36241;
@color-periwinkle           : #CCD2FF;
@color-grey                 : #808080;
@color-dandelion            : #FFDE66;
@color-light-wisteria       : #BCA2E1;
@color-turquoise-blue       : #59DFE1;
@color-atomic-tangerine     : #FF9666;
@color-spray                : #6CEFC8;
@color-mauvelous            : #F281A7;
@color-silver               : #CCCCCC;
@color-anakiwa              : #89D5FF;
@color-neptune              : #75BABA;
@color-petite-orchid        : #DBA08D;
@color-illusion             : #F6ABC4;
@color-tall-poppy           : #B72536;

// LIGHT
@color-blue-ribbon          : #334BFF;
@color-black                : #000000;
@color-olive                : #7F6400;
@color-butterfly            : #71549F;
@color-teal                 : #007678;
@color-grenadier            : #CC4000;
@color-rain-forest          : #007653;
@color-cerise-red           : #D22962;
@color-scorpion             : #595959;
@color-jelly-bean           : #236F99;
@color-genoa                : #147070;
@color-brown-rust           : #AF583A;
@color-torea-bay            : #0F1E8A;
@color-dove-grey            : #737373;
@color-saddle-brown         : #4C3C00;
@color-victoria             : #563F77;
@color-sherpa-blue          : #004E4F;
@color-oregon               : #993000;
@color-kaitoke-green        : #00432F;
@color-maroon-flush         : #A3204C;
@color-tundora              : #404040;
@color-chathams-blue        : #174A66;
@color-eden                 : #116262;
@color-mule-fawn            : #88442D;
@color-heath                : #5D122B;
