/*

COLOR PALETTE FOR SOLAR THEME
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*************************************/

// Common - Greyscale
@color-white              : #FFFFFF;
@color-grey-silver        : #C2C2C2;
@color-grey-suva          : #8C8C8C;
@color-black              : #000000;

// Common - Colour
@color-orange-mango-tango : #EE7600;
@color-orange-neon-carrot : #FF9933;
@color-brandy-punch       : #cc7f33;
@color-cyan-scooter       : #2FB4C8;
@color-light-cornflower   : #46A0F0;
@color-lochmara           : #2960A3;
@color-st-tropaz          : #295e8c;
@color-green-pea          : #237843;
@color-stiletto           : #a8313f;

// Common - Additional and Charting
@color-japanese-laurel    : #297835;
@color-green-sea          : #309054;
@color-olive-drab         : #648608;
@color-curious-blue       : #3780BF;
@color-cornflower-blue    : #508BF7;
@color-iris-blue          : #09A8C0;
@color-neon-blue          : #5A54FF;
@color-purple-blue        : #7045FF;
@color-electric-purple    : #B10CF2;
@color-free-speech-magenta: #DD48F7;
@color-cerise-red         : #E53766;
@color-violet-red         : #F3478E;
@color-vermilion          : #FA4C11;
@color-radical-red        : #FF4043;

/************************************/

// Pearl - Greyscale
@color-grey-athens-gray   : #FAFBFC;
@color-grey-solitude      : #F2F3F7;
@color-grey-gallery       : #EDEDED;
@color-grey-iron          : #E4E8ED;
@color-grey-zumthor       : #D5D8DB;
@color-grey-link-water    : #D0D4DB;
@color-grey-loblolly      : #BEC3CC;
@color-grey-bombay        : #ACAFB5;
@color-grey-aluminium     : #A9AFBA;
@color-grey-manatee       : #8A8A96;
@color-grey-storm-gray    : #6E6E78;
@color-grey-emperor       : #505050;
@color-grey-tundora       : #484848;

// Pearl - Colour
@color-yellow-amber       : #F2C200;
@color-orange-rajah       : #FFB266;
@color-bronze             : #CC7F33;
@color-red-illusion       : #ECA0AA;
@color-outrageous-orange  : #FF6333;
@color-red-valencia       : #D94255;
@color-burnt-umber        : #80321A;
@color-burnt-crimson      : #571820;
@color-zuccini            : #134427;
@color-eucalyptus         : #32AB60;
@color-green-vista        : #98D5AF;
@color-blue-columbia      : #B0FFFF;
@color-pattens-blue       : #C1E3FE;
@color-maya-blue          : #7FBFF7;
@color-deep-sky-blue      : #00B0FF;
@color-blue-dodger        : #0080F0;
@color-blue-astral        : #2F6DA3;
@color-resolution-blue    : #303F80;
@color-violet-royal       : #6262DE;
@color-allports           : #1B6E7A;

// Pearl - Charting
@color-sunflower          : #D9B500;
@color-galliano           : #D9A22B;
@color-light-blue         : #40B6DE;
@color-denim              : #1578AC;
@color-bahia              : #AAB218;
@color-citrus             : #80A808;
@color-apple              : #4BB347;
@color-dim-grey           : #707070;

/************************************/

// Charcoal - Greyscale
@color-grey-mercury       : #E2E2E2;
@color-grey-mid-grey      : #666570;
@color-grey-abbey         : #4A4A52;
@color-grey-tuna          : #3C3C42;
@color-grey-shark         : #2E2E33;
@color-grey-haiti         : #2E2D33;
@color-grey-black-russian : #212124;
@color-grey-whale         : #1A1A1C;
@color-grey-woodsmoke     : #151516;
@color-grey-black         : #0A0A0A;
@color-grey-baltic-sea    : #2F2E34;

// Charcoal - Colour
@color-red-radical        : #F5475B;
@color-guardsman-red      : #8E2D39;
@color-classic-red        : #650b16;
@color-cedar              : #4B181F;
@color-bordeaux           : #4B191F;
@color-green-medium-sea   : #39C46E;
@color-camarone           : #257443;
@color-celtic             : #153C25;
@color-blue-maya          : #65B7FF;
@color-pacific-blue       : #05A3CD;
@color-light-slate-blue   : #607EFF;
@color-pelorous           : #2277AA;
@color-endeavour          : #2A6090;
@color-regal-blue         : #153048;
@color-tangaroa           : #142E45;
@color-blue-charcoal      : #282E33;
@color-black-pearl        : #0F2233;
@color-chinese-black      : #151515;
@color-black-ink          : #101010;

// Charcoal - Charting
@color-mantis             : #7DE442;
@color-screaming-green    : #60E65C;
@color-paris-daisy        : #EFF748;
@color-gorse              : #FFE433;
@color-bright-sun         : #F2B530;
@color-inch-worm          : #A7DB0B;
@color-summer-sky         : #48CBF7;
@color-steep-turquoise    : #2EB4C9;
@color-cerulean           : #1578AD;
@color-mahogany           : #C93C4B;

// Charcoal - Input specific
@color-pacifika           : #898623;
@color-cyan-aqua          : #00ffdd;
@color-persian-green      : #009494;
@color-foam               : #effefe;
@color-mirage             : #1B252F;

/************************************/
