/*

COLOR PALETTE FOR SOLAR THEME
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*************************************/

// Common - Greyscale
@color-white: #ffffff;
@color-grey-silver: #c2c2c2;
@color-grey-suva: #8c8c8c;
@color-black: #000000;

// Common - Colour
@color-orange-mango-tango: #ee7600;
@color-orange-neon-carrot: #ff9933;
@color-brandy-punch: #cc7f33;
@color-cyan-scooter: #2fb4c8;
@color-light-cornflower: #46a0f0;
@color-lochmara: #2960a3;
@color-st-tropaz: #295e8c;
@color-green-pea: #237843;
@color-stiletto: #a8313f;

// Common - Additional and Charting
@color-japanese-laurel: #297835;
@color-green-sea: #309054;
@color-olive-drab: #648608;
@color-curious-blue: #3780bf;
@color-cornflower-blue: #508bf7;
@color-iris-blue: #09a8c0;
@color-neon-blue: #5a54ff;
@color-purple-blue: #7045ff;
@color-electric-purple: #b10cf2;
@color-free-speech-magenta: #dd48f7;
@color-cerise-red: #e53766;
@color-violet-red: #f3478e;
@color-vermilion: #fa4c11;
@color-radical-red: #ff4043;

/************************************/

// Pearl - Greyscale
@color-grey-athens-gray: #fafbfc;
@color-grey-solitude: #f2f3f7;
@color-grey-gallery: #ededed;
@color-grey-iron: #e4e8ed;
@color-grey-zumthor: #d5d8db;
@color-grey-link-water: #d0d4db;
@color-grey-loblolly: #bec3cc;
@color-grey-bombay: #acafb5;
@color-grey-aluminium: #a9afba;
@color-grey-manatee: #8a8a96;
@color-grey-storm-gray: #6e6e78;
@color-grey-emperor: #505050;
@color-grey-tundora: #484848;

// Pearl - Colour
@color-yellow-amber: #f2c200;
@color-orange-rajah: #ffb266;
@color-bronze: #cc7f33;
@color-red-illusion: #eca0aa;
@color-outrageous-orange: #ff6333;
@color-red-valencia: #d94255;
@color-burnt-umber: #80321a;
@color-burnt-crimson: #571820;
@color-zuccini: #134427;
@color-eucalyptus: #32ab60;
@color-green-vista: #98d5af;
@color-blue-columbia: #b0ffff;
@color-pattens-blue: #c1e3fe;
@color-maya-blue: #7fbff7;
@color-deep-sky-blue: #00b0ff;
@color-blue-dodger: #0080f0;
@color-blue-astral: #2f6da3;
@color-resolution-blue: #303f80;
@color-violet-royal: #6262de;
@color-allports: #1b6e7a;

// Pearl - Charting
@color-sunflower: #d9b500;
@color-galliano: #d9a22b;
@color-light-blue: #40b6de;
@color-denim: #1578ac;
@color-bahia: #aab218;
@color-citrus: #80a808;
@color-apple: #4bb347;
@color-dim-grey: #707070;

/************************************/

// Charcoal - Greyscale
@color-grey-mercury: #e2e2e2;
@color-grey-mid-grey: #666570;
@color-grey-abbey: #4a4a52;
@color-grey-tuna: #3c3c42;
@color-grey-shark: #2e2e33;
@color-grey-haiti: #2e2d33;
@color-grey-black-russian: #212124;
@color-grey-whale: #1a1a1c;
@color-grey-woodsmoke: #151516;
@color-grey-black: #0a0a0a;
@color-grey-baltic-sea: #2f2e34;

// Charcoal - Colour
@color-red-radical: #f5475b;
@color-guardsman-red: #8e2d39;
@color-classic-red: #650b16;
@color-cedar: #4b181f;
@color-bordeaux: #4b191f;
@color-green-medium-sea: #39c46e;
@color-camarone: #257443;
@color-celtic: #153c25;
@color-blue-maya: #65b7ff;
@color-pacific-blue: #05a3cd;
@color-light-slate-blue: #607eff;
@color-pelorous: #2277aa;
@color-endeavour: #2a6090;
@color-regal-blue: #153048;
@color-tangaroa: #142e45;
@color-blue-charcoal: #282e33;
@color-black-pearl: #0f2233;
@color-chinese-black: #151515;
@color-black-ink: #101010;

// Charcoal - Charting
@color-mantis: #7de442;
@color-screaming-green: #60e65c;
@color-paris-daisy: #eff748;
@color-gorse: #ffe433;
@color-bright-sun: #f2b530;
@color-inch-worm: #a7db0b;
@color-summer-sky: #48cbf7;
@color-steep-turquoise: #2eb4c9;
@color-cerulean: #1578ad;
@color-mahogany: #c93c4b;

// Charcoal - Input specific
@color-pacifika: #898623;
@color-cyan-aqua: #00ffdd;
@color-persian-green: #009494;
@color-foam: #effefe;
@color-mirage: #1b252f;

/************************************/
