.checkbox-default() {
  --check-color: @checkbox-checked-color;
  color: @control-text-color;

  [part='container'] {
    width: 14px;
    height: 14px;
    &:not([readonly]) {
      cursor: pointer;
    }
  }

  [part='check'] {
    width: 95%;
    height: 95%;
  }

  &:hover {
    &:not([checked]):not([indeterminate]):not([readonly]) [part='container'] {
      border-color: @input-hover-border-color;
    }
    &:not([readonly]) {
      color: @input-hover-text-color;
    }
  }

  &[disabled],
  &[disabled] [part='label'] {
    opacity: @control-disabled-opacity;
  }

  &[checked] [part='container'] {
    border: 1px solid @scheme-color-primary;
  }

  &:focus[readonly]:not([checked]) [part='container'] {
    border-color: @control-border-color;
  }

  &[focused=visible] {
    outline: @input-border-width @input-border-style @input-focused-border-color;
    outline-offset: 2px; //not support IE11
  }
}
