//* Action colour palette for something

// Dark
@color-mexican-red: #a01c2b;
@color-carnation: #f5475b;
@color-rose-bud: #faa8b1;
@color-green-pea: #227542;
@color-emerald: #39c46e;
@color-algae-green: #87dca7;
@color-olive: #7f6400;
@color-supernova: #ffc800;
@color-sparkler: #ffe999;
@color-teal: #007678;
@color-robins-egg: #00d0d4;
@color-mint-tulip: #afeff1;

// Light
@color-chestnut-rose: #b63243;
@color-carbaret: #d94255;
@color-sea-pink: #eeacb4;
@color-everglade: #246b3e;
@color-sea-green: #309054;
@color-vista-blue: #83d6a2;
@color-olive: #7f6400;
@color-buddha-gold: #cca000;
@color-sparkler: #ffe999;
@color-teal: #007678;
@color-persian-green: #009ea1;
@color-mint-tulip: #afeff1;
