//* Color colour palette for Halo.

@color-refinitiv-blue  : #001EFF;
@color-blue-ribbon     : #334BFF;
@color-persian-blue    : #1429BD;
@color-lights-out      : #0D0D0D;
@color-white           : #FFFFFF;
