//* Colour palette, used for icons.

// Dark
@color-silver: #cccccc;
@color-white: #ffffff;
@color-cornflower-blue: #6678ff;

// Light
@color-lights-out: #0d0d0d;
@color-scorpion: #595959;
@color-silver: #cccccc;
@color-white: #ffffff;
@color-blue-ribbon: #334bff;
