//* Secondary colour palette for Halo.

// Dark
@color-cod-grey: #1a1a1a;
@color-mine-shaft: #262626;
@color-charcoal: #333333;
@color-emperor: #4d4d4d;
@color-tundora: #404040;
@color-scorpion: #595959;
@color-grey: #808080;
@color-dusty-grey: #999999;
@color-silver: #cccccc;
@color-concrete: #f2f2f2;
@color-black-pearl: #050a2e;
@color-torea-bay: #0f1e8a;
@color-persian-blue: #1429bd;

// Light
@color-alabaster: #fafafa;
@color-concrete: #f2f2f2;
@color-mercury: #e6e6e6;
@color-desert-storm: #e0e0e0;
@color-alto: #d9d9d9;
@color-silver: #cccccc;
@color-nobel: #bfbfbf;
@color-scorpion: #595959;
@color-tundora: #404040;
@color-torea-bay: #0f1e8a;
@color-barley-white: #fff4cc;
