//* Colour palette for all things textual.

// Dark
@color-lights-out      : #0D0D0D;
@color-dusty-grey      : #999999;
@color-silver          : #CCCCCC;
@color-white           : #FFFFFF;
@color-cornflower-blue : #6678FF;
@color-periwinkle      : #CCD2FF;
@color-robins-egg      : #00D0D4;
@color-carnation       : #F5475B;
@color-emerald         : #39C46E;

// Light
@color-lights-out      : #0D0D0D;
@color-tundora         : #404040;
@color-dove-grey       : #737373;
@color-silver          : #CCCCCC;
@color-white           : #FFFFFF;
@color-blue-ribbon     : #334BFF;
@color-torea-bay       : #0F1E8A;
@color-chestnut-rose   : #B63243;
@color-persian-green   : #009EA1;
@color-everglade       : #246B3E;
