//* Colour palette for all things textual.

// Dark
@color-lights-out: #0d0d0d;
@color-dusty-grey: #999999;
@color-silver: #cccccc;
@color-white: #ffffff;
@color-cornflower-blue: #6678ff;
@color-periwinkle: #ccd2ff;
@color-robins-egg: #00d0d4;
@color-carnation: #f5475b;
@color-emerald: #39c46e;

// Light
@color-lights-out: #0d0d0d;
@color-tundora: #404040;
@color-dove-grey: #737373;
@color-silver: #cccccc;
@color-white: #ffffff;
@color-blue-ribbon: #334bff;
@color-torea-bay: #0f1e8a;
@color-chestnut-rose: #b63243;
@color-persian-green: #009ea1;
@color-everglade: #246b3e;
