name: Manual Release

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: environment
        default: canary

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          # Pulls all commits (needed for Lerna)
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci --ignore-scripts --audit=false --fund=false

      - name: Build Packages
        run: npm run build:prod

      - name: Publish to NPM
        environment: canary
        run: lerna publish --canary --preid=build.${{ github.run_id }}.${{ github.run_attempt }} --exact --no-changelog --no-git-tag-version --no-push --include-merged-tags --no-private --force-publish --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
